[2016-06-22 08:16] tocttou opened #1 "Allow the Webapp to run on any port"
The webapp can only run a fixed port now - 3000. It should be able to import the port number from outCalls/config.js

[2016-06-22 09:27] tocttou opened #2 "Add authentication to MongoDB"

[2016-06-22 11:58] DESHRAJ opened #3 "Local Setup Error"
[code]

This is the error that I am getting while trying to setup the project locally. @tocttou can you look into this ?

[2016-06-22 16:25] tocttou opened #4 "Add JWT authentication to API calls"

[2016-06-22 16:44] tocttou opened #5 "'Use Your Deployment' doesn't require authentication for editing the deployed app specs"
Adding checks for this is easy since this already requires GH login. Just need to update `nonghdemomodel` to save GH ID of the person who deployed that particular app and use it for auth.

[2016-06-22 18:06] tocttou opened #6 "Add integration with a URL shortener (goo.gl) for demo pages"

[2016-06-22 19:38] DESHRAJ opened #7 "Session not maintained in other tabs when logged in with github"

[2016-06-22 21:04] tocttou commented on #7
5a7abc6aa81971857778a4f255b6f0b564f4f40f fixes this

[2016-06-22 21:04] #7 closed

[2016-06-23 06:48] tocttou opened #8 "Add a one time initial setup script to set defaults"

[2016-06-23 13:25] DESHRAJ opened #9 "Remove the labels that are empty"
While adding the fields, there should be option to remove the label if accidently pressed the button 'Add Field'.
See the Screenshot attached.
![screenshot from 2016-06-23 09 25 00](https://cloud.githubusercontent.com/assets/2945708/16304668/6ea17288-3924-11e6-8918-561a54925759.png)

[2016-06-23 20:26] tocttou commented on #3
This is most likely a mismatch of required nodejs version.

[2016-06-24 03:16] tocttou commented on #9
bead97a  fixes this

[2016-06-24 03:16] #9 closed

[2016-06-25 03:33] tocttou commented on #3
Were you able to proceed with setup?

[2016-06-25 03:52] tocttou opened #10 "Unified interface for creating I/O components quickly"
Currently there is a lot of boilerplate code when adding a new component. This can be reduced if each base component shares a common base and pass on features as props.

[2016-06-27 18:15] tocttou opened #11 "Add documentation about using tmpwatch or tmpreaper in non-github deployment mode"
Over time the size of /tmp directory will increase and fill up disk unnecessarily. `tmpwatch` or `tmpreaper` should be added to cron to prevent this. Or cvfy lib can do the clean up if possible.

[2016-06-29 10:07] DESHRAJ opened #12 "Enhancement: Update Demo Functionality"
If the user updates the code on github, then he should only have to come back to CVfy frontend and press the `Update demo` demo button which redeploys the demo automatically.

[2016-06-29 10:55] deshraj opened #13 "Scroll when logging on terminal"
The focus of the demo web-page should be shifted to terminal if something is being printed on the terminal and then when the output is ready then focus can be shifted to output. The user can see the terminal log until the output is being processed.

[2016-07-04 06:35] DESHRAJ commented on #6
Shouldn't we have our own shortener link ? That will increase our visibility. It could be something like `cvfy.cloudcv.org/abcde`

@dexter1691 @tocttou

[2016-07-05 04:07] tocttou opened #14 "Move inline CSS to style objects using ReactCSS"
http://reactcss.com/

[2016-07-05 04:13] tocttou commented on #12
When the user comes back to the code and presses the "Modify Demo" button, he is taken through a process of:

1. Update metadata
2. Update I/O components
3. Attempt to redeploy

I have to check if 3 is working or not (it probably just dismisses the update since container is running).

Also its better to also allow user to select what he wants to update instead of going through the hoops.

[2016-07-05 04:14] tocttou opened #15 "Allow user to update parts of projects separately"

[2016-07-05 04:15] tocttou commented on #12
#15 is about this.

[2016-07-05 04:22] tocttou commented on #13
How will the UI work for this? Any idea?
The scroll to bottom approach currently used on cloudcv.org doesn't fit well here since the user can send text to terminal even after output has been processed.
Probably a show terminal window popup can be placed at the bottom right (similar to facebook chat but bigger in size).

[2016-07-05 04:25] tocttou commented on #6
Looks good to me. Can be integrated in the app itself.

[2016-07-05 23:32] DESHRAJ commented on #12
Yeah sure, this approach sounds good in terms of UX. Keep me posted when this is up on the test server so that I can check.

[2016-07-09 23:19] DESHRAJ opened #16 "Setup Travis CI"

[2016-07-20 04:45] tocttou commented on #14
I did some work with ReactCSS. This is largely unnecessary until we have some use of pseudo-classes or effects like hover on elements that don't support it natively (like a div). Even then RadiumCSS is a much better option. Closing this until need arises.

[2016-07-20 04:45] #14 closed

[2016-07-20 04:57] tocttou commented on #13
This is the UI I have in mind:
1. http://i.imgur.com/vGvDAqi.png
2. http://i.imgur.com/m8OpN2I.png

[2016-07-20 05:00] tocttou commented on #12
This is on hiatus after the discussion in last meeting. Github build system is too confusing (and fragile as well) and requires much more time to polish. The code is still there but only the entrypoint commented out. Closing this until something concrete is figured out about that workflow.

[2016-07-20 05:00] #12 closed

[2016-07-20 05:01] tocttou commented on #5
This shall be fixed by making a root admin using the initial script that is run on first use.

[2016-07-20 05:02] tocttou commented on #4
Closing this as API calls are authenticated using passport itself, using the `req.user` property.

[2016-07-20 05:02] #4 closed

[2016-07-20 05:04] tocttou commented on #2
Closing this as we are moving towards running the app in docker containers. Therefore we can simply make access to mongodb limited to the container running cvfy webapp.

[2016-07-20 05:04] #2 closed

[2016-07-20 05:27] tocttou opened #17 "Integrate WebsiteTour before beta testing"
http://tympanus.net/Development/WebsiteTour/

[2016-07-20 05:29] DESHRAJ commented on #13
I see. I will also try to build some UI mockups for the page. I will let you know soon.

[2016-07-20 07:36] tocttou commented on #15
5f6365c6f9bf6839a0850c143e265e9f667291d2 adds this functionality

[2016-07-20 07:36] #15 closed

[2016-07-20 08:03] tocttou commented on #1
263fb3d2ed0981d2f7209f8b57fc208c280708fb adds this functionality.

[2016-07-20 08:03] #1 closed

[2016-07-20 19:28] #16 closed

[2016-07-20 20:11] tocttou commented on #3
Setup is working fine with node 5 and 6
https://travis-ci.org/batra-mlp-lab/CloudCVfy-Frontend/builds/146205556

[2016-07-20 20:11] #3 closed

[2016-07-21 10:38] tocttou opened #18 "Remove github deployment code"

[2016-07-21 10:41] tocttou commented on #5
JWT can't be used since the auth mechanism is not local. A local copy of access token with expiration time equal to expiration time of cookie will be logged and compared to the value coming in headers from the frontend api calls instead.

[2016-07-31 11:10] tocttou commented on #8
6185ba5 adds this functionality

[2016-07-31 11:10] #8 closed

[2016-08-03 21:28] tocttou opened #19 "Allow root user to modify constants defined during initial setup later"

[2016-08-06 12:18] tocttou commented on #6
87517a1679014d110d90d0c79b69b82e3a4de17d adds this functionality.

[2016-08-06 12:18] #6 closed

[2016-08-06 17:25] deshraj opened #20 "Some Issues and Suggestions"
- [x] On `/gettingstarted`,  if I scroll down and then press any of the navigation buttons on the left sidebar, then it should be loaded from the top of the page instead of showing the middle portion of the page.
- [x] Create cvfy python package
- [x] Gist link missing on `/libdocs/registration`
- [ ] Add a link to one of the sample app that we have created
- [x] Porting cvfy documentation in sphi

[2016-08-17 05:27] tocttou opened #21 "Check for collision before issuing UserID"

[2016-08-17 10:30] tocttou opened #22 "Add meta tags on demo page for sharing on social networking sites"

[2016-10-25 12:21] tocttou opened #23 "Add feedback mechanism to output components"
This would require plugging in an analytics server as well.

[2016-10-25 12:22] tocttou opened #24 "Add authentication to input component requests"

[2016-10-25 12:24] tocttou commented on #22
This can be solved in two ways:

1. Using an SEO server
2. Moving parts of the application to server side rendering (easier to implement and maintain)

Currently, generic tags are used that don't show any info about the demo.

[2016-10-25 12:26] tocttou commented on #20
Decoupling documentation from the app is a good step.

[2016-10-25 12:29] tocttou opened #25 "Decouple the front page from the main app"
The front page would be better if it was a static page detailing the project and linking to the main application. Doesn't make any sense to put it in the application - it only increases the bundle size.

[2016-11-22 16:03] tocttou opened #26 "Move to semantic-ui react package and drop jquery dependency"
Semantic UI has published official React bindings: http://react.semantic-ui.com/introduction
This can help us drop jquery dependency and reduce bundle size considerably.

[2016-12-06 23:30] anweshknayak commented on #24
can I know where to start from ?

[2016-12-10 03:53] tocttou commented on #24
Currently we do the output injection in the demos like this:

`Demo` --[input components][socketID: X]--> `Server` [processes input to produce output data] --[output data][socketID: X]--> `Demo` [puts output data into output components]

But this means that anyone who can get the socketID of the browser requesting the demo can inject any bogus data as well. This might not be an issue in reality ev

[2016-12-16 19:13] anweshknayak commented on #26
assign this to me.

[2016-12-17 06:41] tocttou commented on #26
Its not a small update. You'll need to resolve #18 first.

[2016-12-17 06:45] tocttou commented on #18
There is a lot of code not in use currently in the repository. This code is for deployments supposed to work from GitHub directly and is far behind the other deployment method in terms of updates. This code is mostly in the folders that have "GitHub" in the name. Anyone fixing this should remove that code and take care of removing the unwanted imports from the app, if any.

[2016-12-17 11:07] anweshknayak commented on #18
@tocttou on it. thanks

[2016-12-22 09:47] anweshknayak opened #27 "Unable to connect to the address ?"
Node version: 6.9.0

npm version: 4.0.3

Operating system: 14.04

Command line used:

Steps to reproduce:

I have tried both the installation procedures. But I cannot simply open the link ? Can you help a bit here

[2016-12-22 09:54] anweshknayak commented on #27
I even tried using the alternate version without docker. It simpy doesn't connect to the address in the outCalls/config.js file

[2016-12-22 09:58] tocttou commented on #27
Be more specific.
1. Where do you see this error, add some screenshot if necessary?
2. What command caused this error?
3. Did you setup the database before trying?

[2016-12-22 10:12] anweshknayak commented on #27
![screenshot from 2016-12-22 15 31 07](https://cloud.githubusercontent.com/assets/8139783/21422159/753ae206-c85c-11e6-8e76-ebe4f13fd8be.png)

2. docker run -d -p 5005:5001 --restart=always cvfy

3. Yes.

[2016-12-22 10:15] tocttou commented on #27
Do you want to work on fixing this? :smile:

You'll need to build the app outside of docker to see the issue.

[2016-12-22 10:20] tocttou commented on #27
I tried a new build, the issue is a breaking change introduced in React 15.4.1 last month.

https://github.com/zilverline/react-tap-event-plugin/issues/85

@anweshknayak you may want to look into this.

[2016-12-22 10:23] anweshknayak commented on #27
@tocttou sure I would like to work on this. :)

[2016-12-22 10:36] tocttou commented on #27
Issue is fixed now. Bundle is produced without errors and I am able to use the app. I have included a lock file with exact dependency versions. You may want to use https://yarnpkg.com/ instead of `npm` in the "without docker" method. Please confirm that it works.

[2016-12-22 20:10] anweshknayak commented on #27
@tocttou yarn install says unable to connect to the server ?
I am not under any proxy server as of now.

[2016-12-23 04:02] anweshknayak commented on #27
seems like this https://github.com/yarnpkg/yarn/issues/668

[2016-12-23 08:48] tocttou commented on #27
That is an issue on your end.

[2016-12-23 17:19] anweshknayak commented on #27
fixed. closing this.

[2016-12-23 23:31] anweshknayak commented on #27
yarn issue persists. could you fix the npm dependencies? or tell me If I can do anything to fix it.

[2016-12-24 08:59] tocttou commented on #27
I told you its an issue with your installation of yarn. You can always use `npm` as usual instead.

[2016-12-24 09:06] tocttou commented on #27
Delete the `node_modules` folder and the `yarn.lock` file and try again.

[2016-12-24 09:21] tocttou commented on #27
@anweshknayak I tried a new build from scratch and it works fine. Lock file is correct. Dependencies are correct. Fix your installation of yarn or just use npm otherwise like mentioned in the steps. The exact steps are:
-x-x-x-
1. start a mongodb instance at port 27017 (default)
2. git clone <this-repo>
3. yarn (better) or npm install
4. yarn/npm run build -s
5. yarn/npm start -s
6. visit localhos

[2016-12-24 09:21] #27 closed

[2017-02-08 15:06] tocttou commented on #22
This was completed long ago. Correct solution is to use SSR with code splitting though.

For example: https://github.com/geekyme/react-doc-meta

[2017-02-08 15:06] #22 closed

[2017-02-08 15:24] dumptyd commented on #25
Guide me.

[2017-02-09 13:31] dexter1691 opened #28 "Build a demo for Image Captioning"
Try building a demo for image captioning using the tensorflow code provide here:
~https://github.com/jazzsaxmafia/show_attend_and_tell.tensorflow~

EDIT (@abhshkdz): This implementation seems to be better maintained and easier to work with — https://github.com/yunjey/show-attend-and-tell-tensorflow

[2017-02-09 13:34] dexter1691 opened #29 "Build a demo for Object Detection"
Write a wrapper around the YOLO code to showcase the Object Detection algorithm:
https://github.com/thtrieu/darkflow

[2017-02-09 13:37] dexter1691 opened #30 "Build a demo for Style Transfer"
Build a demo for the fun application of style transfer from one image to another by writing a wrapper around this code:
~https://github.com/cysmith/neural-style-tf~

EDIT (@abhshkdz): Let's build a demo for this implementation instead — https://github.com/tensorflow/magenta/tree/master/magenta/models/image_stylization, it's faster than the original style transfer algorithm, allows for multiple sty

[2017-02-09 13:39] dexter1691 opened #31 "Build a demo for VQA"
Build a demo for VQA using the following code:
https://github.com/JamesChuanggg/VQA-tensorflow

[2017-02-09 13:40] dexter1691 opened #32 "Build a demo for Grad-CAM"
Build a demo for Grad-CAM by writing a wrapper around this code:
https://github.com/jacobgil/keras-grad-cam

[2017-02-09 14:42] anweshknayak commented on #29
@dexter1691 can I try ?

[2017-02-09 14:43] deshraj commented on #29
@anweshknayak Sure. Let us know if you face any issue in setting up the project.

[2017-02-09 15:03] anweshknayak commented on #29
@deshraj getting this error when trying to create a new app.

[2017-02-09 15:13] souravsingh commented on #30
@dexter1691 I am interested in working on this. I have to create a wrapper for the above mentioned library and add it to cvfy-lib, correct?

[2017-02-09 15:15] anweshknayak commented on #29
One query. This is to be deployed "http://0.0.0.0:5001/". as given(for local deployment) . the respective changes to be made in outCalls/config.js ? @tocttou

[2017-02-09 16:00] tocttou commented on #29
In the "Development mode": Yes
Note that you do not need development mode for this task. You may use the installation at: http://cvfy.cloudcv.org

[2017-02-09 23:10] deshraj commented on #30
@souravsingh Yes, you are right. Let us know if you run into issues with the cvfy package. :)

[2017-02-09 23:56] tocttou commented on #30
"Build a demo" seems to suggest that that the demo is to be added to cvfy-frontend (maybe the instance running it http://cvfy.cloudcv.org), and not cvfy-lib (which is the python lib) if I am reading it correctly.

[2017-02-10 00:35] souravsingh commented on #30
@tocttou We would have to add the ML evaluation code before we can build a demo, correct?

[2017-02-10 11:59] tocttou commented on #30
A demo is built in two parts:

1. You _use_ cvfy-lib to integrate that style transfer demo with a webserver.
2. You link that webserver to the cvfy-frontend application instance and share the generated demo link.

I suggest going through the following links:
1. http://cvfy.cloudcv.org/libdocs/configuration [for using cvfy-lib]
2. http://cvfy.cloudcv.org/gettingstarted/configuration [for creating a

[2017-02-10 12:02] tocttou commented on #30
Note that creating a demo does not require making changes to cvfy-lib. You just need to import it. Maybe we need some example code snippets to showcase this.

You can take a look at this simple color-to-grayscale app made using functions imported from cvfy-lib: https://github.com/tocttou/samplecv/blob/master/app.py

Also read the docs once.

[2017-02-10 12:04] anweshknayak commented on #30
@tocttou Are there any demo for problems like this? I saw one video for configuring any app.

[2017-02-10 12:11] tocttou commented on #30
Functional public demo: not yet. That is the task, no? :p

[2017-02-11 05:01] dexter1691 commented on #30
Hehe. @tocttou is right! The code should be fairly straight forward to read the cvfy-lib code to see what needs to be done. You just need to use it as a wrapper to take input and send output to cvfy-frontend.

[2017-02-11 09:06] ccpandhare commented on #28
Can I try this?

[2017-02-11 19:13] dexter1691 commented on #28
Sure! Please keep us updated!

[2017-02-13 21:30] uttu357 commented on #31
@dexter1691 I am interested in working on this task. :)

[2017-02-13 21:48] uttu357 commented on #32
@dexter1691 I would like to work on this.

[2017-02-13 21:52] dexter1691 commented on #32
Awesome! Please go ahead! Let us know if you get stuck

[2017-02-13 21:54] dexter1691 commented on #32
This might not end up being trivial. VQA would have been an easier choice!
But this one definitely will be more fun.

[2017-02-13 21:56] uttu357 commented on #32
Sure ill try to complete it asap.. :+1:

[2017-02-14 13:18] uttu357 commented on #32
@dexter1691 I have constructed the wrapper for Grad-CAM https://github.com/uttu357/keras-grad-cam/tree/cvfy-wrapper. Currently attempting to dockerize the application.

[2017-02-24 10:40] uttu357 commented on #32
Successfully dockerized the application. The wrapper is ready and can be run from a docker container.
https://github.com/uttu357/keras-grad-cam/tree/cvfy-wrapper

[2017-02-24 10:45] uttu357 commented on #31
Would like to try building a demo for this.. :)

[2017-02-24 13:09] deshraj commented on #31
@uttu357 Sure. Let us know if you need some help with this.

[2017-02-24 21:13] anweshknayak commented on #29
This issue is free. If anyone wants to do please proceed.

[2017-02-25 05:57] dexter1691 commented on #31
@uttu357 : For VQA, here is one thing you need to take care of
People can ask multiple questions for the same image. The way the code works, you don't necessarily need to extract features for the image again and again. Once the features are extracted, you can reuse those for different questions.

Don't think this feature exists right now in the cvfy. While you are working on it, think about how to

[2017-02-25 06:02] dexter1691 opened #33 "Add the ability to cache intermediate output"
Sometimes, the demo requires multiple interactions with the user. For example, in Visual Question Answering, a user can ask multiple questions for the same image. We can reuse the image features for a particular session to save some time and return the results quickly.
Similarly, for sequential dialog, the results from the history should be saved.

Currently we don't have the ability to save these

[2017-02-25 06:25] tocttou commented on #33
Would it be better to ask the demo creator about what they would like to be cached for the user. This can be done via a new API in origami(cvfy).py ... something like:

[code]

[2017-02-26 07:02] dexter1691 commented on #33
Yes. This should work.

[2017-02-26 21:34] uttu357 commented on #31
Sure! I will try to implement it.. :+1:

[2017-03-02 18:51] deshraj commented on #32
@uttu357 This looks great. :)

Feel free to pick other issues if you are interested. I will try to find sometime and get this up on the main CVFY app.

[2017-03-04 10:18] harvenomey commented on #30
I tried implementing magenta's style transfer but I'm stuck on an issue.
https://github.com/tensorflow/magenta/issues/530

While it is fixed, can I move on further to implement fast-style-transfer?
https://github.com/lengstrom/fast-style-transfer

[2017-03-04 10:20] nikhilweee commented on #30
I tried implementing magenta's style transfer but I'm stuck on an issue.
https://github.com/tensorflow/magenta/issues/530

While it is fixed, can I move on further to implement fast-style-transfer?
https://github.com/lengstrom/fast-style-transfer

[2017-03-04 10:31] dexter1691 commented on #30
@nikhilweee : 530 suggets that the fix is already in the master! Can you try install the master in another virtual env and see if that works?
Also implementing fast style transfer sounds good too.

[2017-03-04 10:33] souravsingh commented on #30
@dexter1691 Would it be fine if the app is built on PyTorch?

[2017-03-04 10:40] harvenomey commented on #30
@dexter1691 : I'm already on the latest master. I have the fix (I've cross-checked), but it still doesn't work.  Anyways I'll try doing fast-style-transfer in the meantime.

[2017-03-04 10:42] nikhilweee commented on #30
@dexter1691 I already have the fix (I've cross checked) but I'm still facing the issue. Anyways I'll try implementing fast-style-transfer in the meanwhile.

[2017-03-04 19:33] AvaisP commented on #28
Hey, @dexter1691
Is this issue still open? I'd like to start working on this

[2017-03-04 19:48] deshraj commented on #28
Yeah @AvaisP, it's open. Please let us know if you have issues.

[2017-03-04 19:56] AvaisP commented on #28
Yes sure. I'm working on it!

[2017-03-05 09:55] AvaisP commented on #28
Hey, @dexter1691
Have you worked with https://github.com/yunjey/show-attend-and-tell-tensorflow? It needs some 30GB of data. If you have already trained the data, it would be great if you could upload the contents of the 'data' directory after training.

[2017-03-05 18:40] abhshkdz commented on #28
I'm surprised they haven't released a pre-trained checkpoint. I just opened an issue: https://github.com/yunjey/show-attend-and-tell-tensorflow/issues/18, keep a watch, I hope he responds soon.

[2017-03-05 19:15] dexter1691 commented on #28
https://github.com/jazzsaxmafia/show_and_tell.tensorflow
This code has a pretrained model. It's the older paper, but image captioning task nevertheless. You can try this if you want.

[2017-03-06 06:04] AvaisP commented on #28
@abhshkdz thanks I'll keep checking the issue out. Until then I'll start working on the other repository
@dexter1691

[2017-03-07 21:14] AvaisP commented on #28
@dexter1691 https://github.com/jazzsaxmafia/show_and_tell.tensorflow is buggy. I have been trying to debug the same issue as https://github.com/jazzsaxmafia/show_and_tell.tensorflow/issues/13 . Haven't had much success. What should I do?

[2017-03-08 05:33] AnshulMalik commented on #29
Hey! I working on it :)

[2017-03-08 13:56] AvaisP commented on #28
Hey @dexter1691
I've created a demo at https://github.com/AvaisP/cvfy-show-and-tell
Here is the input and output using a random picture found on google.
![screenshot from 2017-03-08 19-18-21](https://cloud.githubusercontent.com/assets/15157205/23706640/089b6282-0435-11e7-8f8d-a85b3b519589.png)
![screenshot from 2017-03-08 19-18-40](https://cloud.githubusercontent.com/assets/15157205/23706645/0b58d

[2017-03-08 16:14] dexter1691 opened #34 "Upload media from Dropbox"
Apart from uploading files locally, we want to support adding media through Dropbox / Google Drive / URL.

[2017-03-08 16:15] dexter1691 opened #35 "Save Results into Dropbox"
Right now results are only displayed in browser.

We should allow easy download of these results either into Google Drive / Dropbox or download a compressed file containing all the output in the session.

[2017-03-08 16:18] dexter1691 opened #36 "Sample media input"
For people to quickly try the model on the demo page, we should allow the author of that demo to choose a few sample input media (can be an audio file / image / video / text etc) that would show up on the page.

For ex: http://cloudcv.org/vqa/

[2017-03-08 17:06] AvaisP commented on #35
Hey @dexter1691 ,
I'd like to implement this feature.

[2017-03-08 17:31] AvaisP commented on #35
How should we implement the flow? Will this come in cvfy-lib or in cvfy-frontend? I was thinking of having it in cvfy-lib such that the demo creator can provide the user the option whether they want to save the results to their dropbox or not. The user can choose to save it by clicking on the save button which would then call the saveToDropBox() function. Sounds good?

[2017-03-08 17:34] tocttou commented on #35
@AvaisP No. SaveToDropbox should be implemented in the frontend entirely. cvfy-lib is solely meant to be used to by the project creator to interface with the project only.

[2017-03-08 17:42] AvaisP commented on #35
@tocttou Cool. I will look into it and get it done ASAP. On a side note, Is there a document that explains the project structure? If there isn't then I'd like to help create one so that new contributors can dive right into development!

[2017-03-08 18:00] tocttou commented on #35
The structure is the same as any redux application out there. Anyone who has worked with redux before will find it all easy to navigate and understand. If you haven't, this is a nice place to start: https://marmelab.com/blog/2015/12/17/react-directory-structure.html

[2017-03-08 18:07] AvaisP commented on #35
@tocttou
Thank you so much! Working on it!

[2017-03-09 09:06] deshraj commented on #28
@AvaisP This looks great. :)

It looks like we have to modify the components really soon so that the final demo should look more fancy.

[2017-03-09 14:58] tocttou commented on #18
a0d72e8cd98ab5e0d6627b79925575284c40f448 solves this.

[2017-03-09 14:58] #18 closed

[2017-03-09 17:13] AvaisP commented on #28
@deshraj Yes we should. At the same time, we should ensure that in trying to make it look fancy, the web app is still easy to use. Anyway, that's a long way :joy: . For now, do we consider this issue to be closed? :smile:

[2017-03-09 18:12] tocttou commented on #33
Cloud-CV/cvfy-lib@f466b45 adds support for Text Array caching and internal functions to support caching for images also. Will work on adding image caching support now.

API:

`cvfy.checkIfCachedResultsExist`: `() => boolean`
`cvfy.loadTextArrayFromCache`: `() => array`
`cvfy.saveTextArrayToCache`: `(text_array) => None`
`cvfy.getUniqueCacheId()`: `() => unique_id` (internal function)

Example:

[c

[2017-03-10 08:40] tocttou commented on #33
Cloud-CV/cvfy-lib@57b7790 adds support for full caching.

Demo: https://zippy.gfycat.com/FilthyRedHoneycreeper.webm

Sample code: https://gist.github.com/tocttou/669c516fd8d4fd0934d188c4f3b5ad39

[2017-03-11 17:13] In-vincible commented on #36
Hey @dexter1691, I would to work  on this issue, since I am new to this project can you help me where to start

[2017-03-11 19:03] dexter1691 commented on #36
Hi @In-vincible: The feature requires using standard gallery components. We use react and material design so find standard open source components that we can use for gallery.
You are supposed to give the ability to choose between different styles
1.) Image Gallery to choose from
2.) Sample Videos
3.) Sample Audio

Right now 1.) is very high priority. Other two are not. So I suggest start with 1.)

[2017-03-11 22:42] AvaisP commented on #35
@tocttou @dexter1691
So I've created a dropbox uploader https://github.com/AvaisP/react-dropbox-saver/blob/master/react-dropbox-saver.js . Now the issue I am facing is that it accepts a url to the image as in input. Instead in our app, we are using a base64 image. Any tips on how to tackle this ?

[2017-03-12 08:24] AvaisP commented on #35
I was thinking of writing it to a .png file on the server, followed by giving the path as an input to the saver and then finally deleting the .png file from the server. But there has to be a better way :see_no_evil:

[2017-03-12 09:24] In-vincible commented on #36
@dexter1691 right now there are 6 images shown on the demo page, users are able to choose one at a time, so am I supposed to allow them to select multiple at a time?..sorry I was unable to understand the task properly. though I have looked out for gallery components in react and material as far as front end goes.

[2017-03-12 11:40] nikhilweee commented on #30
Hey @dexter1691 : I've completed the style transfer demo. It's at https://github.com/nikhilweee/fast-style-transfer. Here is a relevant screenshot:
![Input](https://cloud.githubusercontent.com/assets/8774119/23831397/3d866a78-0746-11e7-9332-f3b6fa38c1db.png)
![Output](https://cloud.githubusercontent.com/assets/8774119/23831400/4ae40b76-0746-11e7-8cf2-e7ba0ad3355c.png)

[2017-03-12 22:03] dexter1691 commented on #30
Can you create a docker image for this and share it with us? We will then add the demo on the wiki and may be host it on CloudCV as well.

[2017-03-13 08:47] In-vincible commented on #36
@dexter1691 please help me get started with issue a little bit, right now I am not familiar with the code base.

[2017-03-13 19:55] punarvasu510 commented on #28
Hey @dexter1691 @deshraj Will the issue be closed? Is there anything left in this? I'd like to contribute.

[2017-03-13 20:18] AvaisP commented on #28
Hey @punarvasu510
I'd suggest you work on another issue as this one is done! :smile:

[2017-03-14 05:13] dexter1691 commented on #36
@In-vincible The task is to implement the same functionality in this project. You need to replicate the gallery like feature in the CloudCV demo for cvfy-frontend. Does that make sense?

[2017-03-14 05:15] dexter1691 commented on #35
@AvaisP: Do you mean to say that to save a file in Dropbox, the only way is to give it a URL?
This sounds okay to me, right? What do you think will be a better way?

[2017-03-14 05:34] In-vincible commented on #36
yeah, really sorry took extra time :)

[2017-03-14 08:17] nikhilweee commented on #30
Sure. I'm working on it.

[2017-03-14 18:20] AvaisP commented on #35
@dexter1691  Yes. I am currently trying to convert the base64 data to a blob. I'll then create a URL using URL.createObjectURL(). I hope this will works. If it doesn't then as a last resort I'll just save it on the server, upload and then delete!

[2017-03-15 19:08] AvaisP commented on #35
@dexter1691  None of the two approaches work. Can you suggest another way?

[2017-03-15 20:15] AvaisP commented on #34
@dexter1691 @tocttou  I've managed to get the dropbox url of the image into the web app. I am a little confused about what to do next. When we upload a local image, the onDrop() function gets a file object with. However, if I create a File object using the dropbox url, it doesn't work. Any tips on what I should be doing?

[2017-03-15 20:49] tocttou commented on #34
@AvaisP there is no direct way to do this but you can combine the Blob and File APIs :)

[code]

Once you have the `file` (Object-Type: File), you can pick up the workflow from [inputcomponents/ImageInput/SingleInput.js](https://github.com/Cloud-CV/cvfy-frontend/blob/master/src/components/inputcomponents/ImageInput/SingleInput.js).

[2017-03-16 05:28] AvaisP commented on #34
@tocttou Yes I had tried creating a file object but on calling the updateFormData and updateImage functions, it was giving me an error in the sense that it would write an empty fille with .png extension in the /tmp directory. I tried using the exact same line you posted
[code]
I am still facing the same error. Any idea on what I'm doing wrong?

[2017-03-16 06:15] #28 closed

[2017-03-16 13:00] punarvasu510 commented on #29
@AnshulMalik Are you still working on this issue?

[2017-03-16 15:27] AnshulMalik commented on #29
Ahh, I have put this to hold for now.

[2017-03-16 20:54] AvaisP commented on #34
![screenshot from 2017-03-17 02-19-13](https://cloud.githubusercontent.com/assets/15157205/24018146/b82080aa-0ab8-11e7-8d07-1981eef27cc4.png)
![screenshot from 2017-03-17 02-19-47](https://cloud.githubusercontent.com/assets/15157205/24018148/b8fbce8a-0ab8-11e7-861a-cbde6e2781c9.png)
![screenshot from 2017-03-17 02-19-53](https://cloud.githubusercontent.com/assets/15157205/24018149/ba177bc0-0ab8-11

[2017-03-17 18:20] AvaisP commented on #34
@dexter1691 @tocttou
I've made the necessary changes in the code have made a local commit. Kindly merge #37 as soon as possible so that I can generate another pull request with code that supports uploading media from dropbox.

[2017-03-18 06:27] punarvasu510 commented on #29
I'm working on this one.

[2017-03-19 21:56] deshraj commented on #31
@uttu357 any update on this?

[2017-03-19 21:57] deshraj commented on #30
@nikhilweee let us know whenever you are done with this so that we can host it on CloudCV server.

[2017-03-24 08:44] SudarAbisheck commented on #29
I completed it.
How should I proceed from here on ??

![cvfy_yolo1](https://cloud.githubusercontent.com/assets/6151411/24286610/f22dae74-109b-11e7-84ef-b8384a3384a1.png)
![cvfy_yolo2](https://cloud.githubusercontent.com/assets/6151411/24286609/f21ac638-109b-11e7-992b-add30cf02f7e.png)

[2017-03-24 15:10] tocttou commented on #29
Great. Now you should start working on your proposal ASAP. Make sure you mention this in it.

[2017-03-25 00:13] tocttou commented on #29
@SudarAbisheck is it possible that you can make a docker image for this demo? We'd like to have a repository of easily install-able demos like this.

[2017-03-25 00:17] tocttou commented on #29
The docker image should be usable like this:

`docker run -d -p 8000:8000 --env CVFY_TOKEN=<token> object-detection`

then we can use this demo running in a container with cvfy-frontend.

[2017-03-25 05:26] SudarAbisheck commented on #29
Sure. I'll try to make a docker image.

[2017-03-25 12:46] SudarAbisheck commented on #29
@tocttou I faced some problems while trying to dockerize the demos.
- Since you have to mention the ports the docker container will be exposing in the `Dockerfile`, now you have hardcode the port number, the demo flask server will be using. And once you do that, the `CVFY_TOKEN` lost half of its purpose. You could still use a custom port, but have to pass it as an argument while starting the conta

[2017-03-25 14:12] kakshay21 commented on #33
can i work on this?@dexter1691 @tocttou

[2017-03-25 15:19] tocttou commented on #33
@kakshay21 This has already been done.

[2017-03-25 15:19] #33 closed

[2017-03-25 16:01] AvaisP commented on #34
#38 has been merged. You can close the issue @dexter1691

[2017-03-25 16:08] tocttou commented on #29
@SudarAbisheck

Both of these problems (although the first one is not really a problem) can be solved by running the container as following:

`docker run -d --net=host --env CVFY_TOKEN=<token> object-detection`

by making the container inherit the host's network.

[2017-03-25 16:08] #34 closed

[2017-03-25 16:11] tocttou commented on #29
@SudarAbisheck it would be great if you can [push the image to Dockerhub](https://docs.docker.com/engine/getstarted/step_six/) as well, so  that we can just do:

`docker run -d --net=host --env CVFY_TOKEN=<token> sudarabisheck/object-detection` without building the image ourselves (do provide the Dockerfile and other required files separately though).

[2017-03-26 02:15] SudarAbisheck commented on #29
I completed it. I pushed the container to docker hub.
The github repo: https://github.com/SudarAbisheck/cvfy-object-detection

[2017-03-27 10:24] tocttou commented on #29
@SudarAbisheck nice work! 😄 Please mention this in your proposal.

[2017-03-28 08:25] tocttou commented on #29
@SudarAbisheck you have hardcoded the token in your demo. I was able to run it using: `docker run --net=host --env CVFY_TOKEN=<TOKEN> sudarabisheck/object-detection` but after fixing the port in cvfy-frontend to `8000` specifically. Works fine. Thanks!

[2017-03-28 08:25] #29 closed

[2017-03-31 07:05] SudarAbisheck commented on #29
@tocttou I have fixed it. Now you have to run the demo using the command
[code]
and the demo runs on the port given through the token.

[2017-03-31 12:02] tocttou commented on #29
Great! Thanks.

[2017-04-02 16:39] #32 closed

[2017-05-08 09:38] daminisatya opened #39 "Small Typo on the website"
![image](https://cloud.githubusercontent.com/assets/6227784/25798797/2a82720a-3400-11e7-9886-6a2baf65ecf6.png)

This can be a beginner's issue :)

[2017-05-08 16:38] AvaisP commented on #39
@daminisatya Are you working on this right now? :smile:

[2017-05-08 16:45] daminisatya commented on #39
@AvaisP Nope I'm not but i can send a PR if it is ok. :)

[2017-05-08 16:46] deshraj commented on #39
@daminisatya you are most welcome to submit PRs. :)

[2017-06-18 07:24] alasin commented on #31
@deshraj @dexter1691 Is it still open? Can I work on it?

[2017-06-18 10:28] deshraj commented on #31
@alasin yeah it is still open. Please go ahead if you are interested.

[2017-06-19 18:27] alasin commented on #31
@deshraj Couldn't get a pre-trained model for the code in
https://github.com/JamesChuanggg/VQA-tensorflow, so got a demo working that's based on this code:
https://github.com/paarthneekhara/neural-vqa-tensorflow

![scr_cat](https://user-images.githubusercontent.com/2655401/27299418-f92a9cbc-5549-11e7-8a6f-6194d62791ff.png)

The demo reuses the extracted image features by maintaining a dictionary w

[2017-06-27 12:03] alasin commented on #31
@deshraj @dexter1691 Awaiting your inputs.

[2017-08-20 10:31] AvaisP commented on #36
#62 Solves this. Closing the issue

[2017-08-20 10:31] #36 closed

[2017-08-20 17:43] AvaisP commented on #10
#54 solves this

[2017-08-20 17:43] #10 closed

[2017-08-20 17:44] AvaisP commented on #39
The home page has been redesigned to use Ant Design. Closing this

[2017-08-20 17:44] #39 closed

[2017-08-20 17:45] AvaisP commented on #26
We need to move to Antd now and not semantic-ui. I'll create a new issue to track that :smile:

[2017-08-20 17:45] #26 closed

[2017-08-20 17:46] AvaisP commented on #25
#43 solves this

[2017-08-20 17:46] #25 closed

[2017-09-05 14:54] AvaisP opened #77 "Add loading screen when fetching demos"
Currently when the demos are being fetched, a blank screen shows up. Once the demos have been fetched, they are displayed. Change this to display a loading screen when the demos are being fetched

[2017-09-05 14:55] AvaisP opened #78 "Change create demo UI"
Update the demo creation UI to allow users to create demos using drag and drop

[2017-09-05 15:01] AvaisP opened #79 "Add support for dialogue like interface"
Users should be able to communicate back and forth with the demo. This is helpful for hosting demos for something like VQA

[2017-10-18 17:42] dexter1691 opened #83 "Build a demo for EAST"
https://github.com/argman/EAST

This is an implementation for EAST: An Efficient and Accurate Scene Text Detector.
It's based on Tensorflow and has a clean / easy to deploy code for text detection.

Given our current input / output methods, this seems like a pretty easy demo to host.

Also, the repository links to a demo that has been down for a while. Will be nice to host it and then send a PR to

[2017-10-20 07:04] HargovindArora opened #84 "Typo error in Homepage"
![origami](https://user-images.githubusercontent.com/22341493/31808809-696c4342-b592-11e7-9d3f-1195d8e631a6.png)

Here it is written, "Out Projects Are Funded By".
Rather it should be "Our Projects are Funded by".
Please have a look. @dexter1691 :)

[2017-10-21 05:52] deshraj commented on #84
@HargovindArora feel free to fix this and send a pull request.

[2017-10-21 06:48] HargovindArora commented on #84
@deshraj I searched a lot and was unable to find the required file where the change has to be made. Please, can you guide? :)

[2017-10-21 09:10] AvaisP commented on #84
@HargovindArora This is the Old UI. The app has since been changed and will be hosted soon.

[2017-10-21 09:23] HargovindArora commented on #84
@AvaisP you mean that this error will be resolved on it's own and there is nothing to be changed. Right?

[2017-10-21 09:24] AvaisP commented on #84
Yes it has been resolved! Try working on some other issue :smile:

[2017-10-21 09:25] HargovindArora commented on #84
Ohkay. Got it. Thanks :)

[2017-10-21 09:25] #84 closed

[2017-10-24 09:23] radonys commented on #83
I am currently working on it. The demo for EAST is running on localhost and I will host using CVFY shortly.

[2017-10-24 17:30] radonys commented on #83
The link has been hosted.

Link: http://cvfy.cloudcv.org/p/1a2o27622

Changes made for implementation:

1. Modified [_run_demo_server.py_](https://github.com/radonys/EAST/blob/master/run_demo_server.py) to support Origami.
2. Modified [_origami.py_](https://github.com/radonys/EAST/blob/master/origami.py) to support _python3_ as the original code for EAST Implementation was written in Python 3.

Be

[2017-10-24 20:11] uttu357 commented on #83
Can you dockerize the demo so that deployment of the demo is easy. We'd like to have a repository of easily install-able demos like this. The docker image should be usable like this:
`docker run -d --net=host --env CVFY_TOKEN=<token> east-detector`
then we can use this demo running in a container with cvfy-frontend.

[2017-10-24 20:13] uttu357 commented on #83
Also currently I cannot receive a response from the demo. Probably the demo is down.

[2017-12-12 12:59] owenl131 opened #96 "Switch from React.PropTypes to PropTypes (prop-types package)"
React.PropTypes is deprecated in v16. React.PropTypes is still being called in DropboxChooser.js.

Node version: v8.9.1

npm version: 5.5.1

Operating system: ubuntu 16.04

[2017-12-12 13:07] owenl131 opened #97 "Updating react-router to v4 leads to breaking changes"
Npm package react-router-dom needs to be added, for react-router to be upgraded to v4. Code needs to be rewritten as well as react-router v4 is a complete rewrite from react-router v3. Recommended to look through https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/migrating.md

One error message is:

Node version: v8.9.1

npm version: 5.5.1

Operating system

[2017-12-13 15:19] #96 closed

[2017-12-15 17:47] vpn1997 commented on #31
can i take this issue ? @uttu357 @deshraj ?

[2017-12-19 17:38] vpn1997 opened #100 "Showing blank page after logging in"
Node version: 9.2.1

npm version:5.5.1

Operating system:Ubuntu 17.04

Command line used:

Steps to reproduce:1.log in  with github account redirects to a blank page at http://localhost:8000/auth/social/signup/

[2017-12-20 12:31] PalashTanejaPro commented on #100
Try rolling back you Node Js.
Works on my Debian based system with Node v8.3.0

[2017-12-20 18:55] vpn1997 commented on #100
Hey i rolled back my node to version 8.3.0 ut still the problem persists ;(
![git](https://user-images.githubusercontent.com/17298412/34223423-5571da72-e5e5-11e7-9303-860204fe805b.gif)

[2017-12-21 05:32] deshraj commented on #100
@vpn1997 do you see any error in the browser console? If yes, can you please share the error here?

[2017-12-21 09:02] vpn1997 commented on #100
@deshraj Nothing
![image](https://user-images.githubusercontent.com/17298412/34248368-cbc01646-e65b-11e7-9353-e8a310410813.png)

[2017-12-21 09:53] vpn1997 commented on #100
I think i found the solution.I created a superuser with same emailid as that of my github account.So when i changes that ,i was able to login without any problems. Allauth needs unique emailid i guess .

![image](https://user-images.githubusercontent.com/17298412/34250413-c76b3c40-e662-11e7-9914-4d8021bb4b07.png)

[2017-12-21 11:28] #100 closed

[2017-12-21 18:11] vpn1997 opened #101 "Adding name to output in demo not working."
adding output does not work if we label them.Without labelling them its working fine.This problem only exists in output not in input.

![ori](https://user-images.githubusercontent.com/17298412/34268873-5738a9a8-e6a8-11e7-968d-5e5a6acccadb.gif)

[2017-12-21 19:56] PalashTanejaPro opened #102 "Origami allows user to upload any file as sample image"
Node version: 8.3.0

npm version: 5.5.1

Operating system: Debian Jesse

Command line used: bash

Steps to reproduce:
1. Go to any origami demo.
2. Try uploading text files and python scripts.

BONUS:
If you are the admin of an origami demo, you can do the above steps and upload malicious files and can even run JavaScript on the user's browser.

UPDATE:
Have written some code to fix this for the t

[2017-12-21 20:00] PalashTanejaPro commented on #102
![out](https://user-images.githubusercontent.com/22736920/34272780-aa8ef74c-e6b7-11e7-8fd8-a88c51367ac5.gif)

[2017-12-25 10:11] idealadarsh commented on #77
@AvaisP Please review the pull request.

[2017-12-28 15:40] Obtin opened #108 "Providing login option other than github"
At present:
The user is allowed to login only via github account.
If user is already logged in to his github account, he can't use any other account for loging in origam until he has logged out from his github account.

Expected:
A separate login system for Origami.
For logging using github, the user must have a flexibility to choose a different github account with which he wants to log in origami

[2017-12-28 16:15] gauravgrover95 opened #109 "Minor UI Fix in the main website"
Hi @tocttou , @deshraj

#Minor UI fix on the home page of the [main website](http://origami.cloudcv.org/).

In my opinion, "_Out Projects Are Funded By_" is misspelled and it should be "_Our Projects Are Funded By_".

![screenshot 106 _li](https://user-images.githubusercontent.com/13467940/34416050-a3a1f8a2-ec17-11e7-9e79-fdcc1124685d.jpg)

Maybe the codebase is available [here](https://github.com

[2017-12-29 10:17] vpn1997 commented on #109
@gauravgrover95 hey i think that website is yet to be updated and you can try to run this project on your local machine , webpack will automatically build bundle.js file. :smile:

[2017-12-30 08:54] #77 closed

[2018-01-03 12:19] vpn1997 opened #114 "Redirect to a blank page"
Steps to reproduce:
1.Delete all the users present in the database using django admin panel.
2.Now create a superuser with same emailid as that of your github account.
3.Now try to login through your github account ,It will redirect you to a blank page.
p.s:for reproducing this issue you need to make your emailid public,

video (https://drive.google.com/file/d/1Jc5FuBF0P6208ioW-kfpBg7E3N0cTZXF/vie

[2018-01-04 06:29] trexdinosaur commented on #114
Successfully repro'd.

note: your email must be public for this to work!

[2018-01-04 14:37] #101 closed

[2018-01-04 14:47] #109 closed

[2018-01-06 18:21] vpn1997 commented on #79
@AvaisP  hey i want to work on this issue, can you give some more insight.Like is this only specific to VQA  ?

[2018-01-07 17:58] vpn1997 opened #117 "Demo redirects to a blank page if no input or output component is provided"
Steps to repro:

![clodcv](https://user-images.githubusercontent.com/17298412/34652278-22e74f4e-f402-11e7-8af0-4b999ef26083.gif)

[2018-01-11 17:21] #114 closed

[2018-01-15 18:24] vpn1997 commented on #79
Hey do you think we need to make any changes in origami lib for adding this feature?
As far as i can understand you want to cache the input(constant input) and then use the dialogue like interface to get the "variable input" (like question in VQA) .But there is only one method available for getting the text user input in origami lib.There should be a seperate method for getting the data from the d

[2018-01-16 20:13] AvaisP commented on #79
@vpn1997 I'd suggest working on #78 before this as that involves almost completing changing the demo page. If you do this first, we'll need to do it again when we work on #78
You're free to start working on #78. If you're interested, please leave a comment there and I'll assign the issue to you :smile:

[2018-01-17 15:13] vpn1997 commented on #78
Hey i want to work on this, can you give detailed explanation on what to do. :smile: @AvaisP

[2018-01-19 14:09] AvaisP commented on #78
@vpn1997

Current state:
Users go to the input/output component page, select N copies of the same type of component and click on save. They have to return to the page to add a different type of component. They can view the preview the entire input/output section in the dialogue box when they press preview.
Goal state:
Users should be able to drag any input component into a seperate div at the end

[2018-01-24 18:12] vpn1997 commented on #78
@AvaisP Hey few questions.
1.What to do with modify,preview and save button .
2.Do we need to show anything in the separate div in which components are being dragged and dropped.
3.Currently Origami only supports one type of output component.Do we need to change that ?

[2018-02-01 19:23] #19 closed

[2018-02-03 17:13] fristonio commented on #97
Hey, I would like to work on this issue if no one is assigned to it.

[2018-02-03 21:07] AvaisP commented on #78
@vpn1997
1. Do away with the modify and preview buttons. The save button should save the entire demo.
2. Yes. It needs to display the preview of the demo page. In fact, it needs to allow components to be removed from the demo page (by dragging a component out of the div)
3. What do you mean?

Yes what you're thinking is very close to what we want! :D

[2018-02-10 09:27] vpn1997 commented on #78
Hey my initial attempt.

![gf](https://user-images.githubusercontent.com/17298412/36060586-b0d0d67e-0e72-11e8-87b6-6cdef58c7a8b.gif)

[2018-02-10 10:57] AvaisP commented on #78
@vpn1997 This is a great start! :D
Instead of displaying the component names(eg. Text Input, Image Input) after dropping it in the div, render the component in the div itself. Basically, the div should serve as a preview for the demo creator.

Also, instead of always having the component be placed below the previously entered component, allow users to place the components above and on either side

[2018-02-12 03:50] KrUciFieR-Jr commented on #30
Is this issue open? if yes then I would like to work on it

[2018-02-12 07:47] nikhilweee commented on #30
I'm sorry I haven't been able to work on this one. Could someone create the docker image form https://github.com/nikhilweee/fast-style-transfer ?

[2018-02-12 10:13] KrUciFieR-Jr commented on #30
I will help you to create the docker image.

[2018-02-13 18:39] AvaisP commented on #78
Hey
This is good. We need only one Send button though. In your video there is a send button for every input component. Also, I saw that a component was going out of the drag and drop div(0:33). Please fix that as well! :smile:

[2018-02-14 18:35] vpn1997 commented on #78
hey @AvaisP  have a look
https://drive.google.com/file/d/1urtnZzS6NuADri5Yk8N2diTvt4f9nnQP/view

About drag and drop , i tried to minimise the portion of the element getting out of the div (now only 10% of the length of the element can be outside scroll div).We can minimise that to 0 % but then we have to compromise with the size of the elements in the div(like reducing the size of graphs and char

[2018-02-14 19:13] AvaisP commented on #78
Excellent work @vpn1997. Currently we only allow the user to place new components above or below another component. Please allow users to place components on the left/right of a previously placed component as well.

[2018-02-14 19:45] fristonio opened #126 "AJAX network calls should not be in componentWillMount in react components."
While working on issue #97 I found that in most of the code AJAX calls to the server are made in `componentWillMount`, while that should be avoided especially when we use `setState` in componentWillMount, here is an example.
https://github.com/Cloud-CV/Origami/blob/master/Origami/src/components/home/HomePage.js#L81
AJAX calls usually live in `componentDidMount`, not `componentWillMount`. The reaso

[2018-02-14 20:30] fristonio opened #127 "CSS inline styling does not follow react styling convention."
In some UI components, inline styling is done using CSS style properties as in https://github.com/Cloud-CV/Origami/blob/master/Origami/src/components/App.js#L212
Due to this react shows warning in the development environment. We should avoid using this and instead use react styling properties, which is generally in camelCase. As for the above case it should be
[code]

**I would like to work on thi

[2018-02-15 07:10] vpn1997 commented on #78
hey @AvaisP sortable component can be either in x axis or y axis . Sorting in both the axis is bit difficult and i don't think it will serve much purpose  .But if its a necessary feature then i can try to find a workaround for it. :smile:

[2018-02-16 15:38] fristonio opened #129 "Default scroll in main layout."
There is a default scroll in the main layout, due to height being `110vh` I don't know if it was intended, but I think we should not have that scroll. The footer should remain in the current view only, stuck to the bottom.

![image](https://user-images.githubusercontent.com/21292343/36315286-437e7276-135d-11e8-9998-b7d7cde20271.png)

**I would like to resolve this issue.**

[2018-02-16 20:01] vpn1997 commented on #78
Hey @AvaisP i am done with the drag and drop part except part of allowing user to place component left /right  feature  with will require whole lot of modification . Should i submit a PR ?

[2018-02-17 01:52] AvaisP commented on #78
Yes please submit a PR!

[2018-02-17 16:17] fristonio opened #132 "Update package.json"
The current `package.json` file has many npm commands that do not work, I guess they were from a previous version of Origami and do not work with the current directory structure anymore. We should either update the package.json file or we should remove these scripts entirely.

![image](https://user-images.githubusercontent.com/21292343/36342918-53dacbb4-142b-11e8-8e4c-5f5b2795769b.png)

**I would

[2018-02-17 19:03] vpn1997 commented on #79
@AvaisP Hey i would like to work on this. :smile:

[2018-02-18 20:36] vpn1997 commented on #79
@AvaisP  hey can you give some specifics on what exactly we want in 'dialogue like  interface'. :smile:

[2018-02-18 20:55] deshraj commented on #79
@vpn1997: see this http://visualchatbot.cloudcv.org/

In this interface, the human can actually converse with an AI agent. We want something similar (remember that this is not the top priority as of now so I would recommend working on something else.)

[2018-02-18 20:59] vpn1997 commented on #79
@deshraj hey it was mentioned in the gsoc idea list(Deliverable) thats why i thought of picking this one.
:smile:

[2018-02-18 21:12] deshraj commented on #79
I understand that. It will be time taking and hence we want to push it in the later part of GSoC. You might want to focus on other deliverables first. The project codebase is still evolving and we want to make the code even more robust, add more documentation, more unit tests etc. Just adding new features is of no use if we are not maintaining the codebase properly. :)

[2018-02-19 09:10] vpn1997 commented on #79
@deshraj hey just a small doubt.While i was working on this i saw origami-lib has functions for caching text and image arrays but while loading the arrays  _getUniqueCacheId()_ function requires same text and image array combination to produce the cacheId. Now suppose we want to cache the processed image features only and then use it with different text arrays (like in vqa) then we will run into s

[2018-02-22 10:20] vpn1997 opened #136 "(Bug):An Image file gets created whenever unit tests are run locally"
Steps to reproduce:
 1.Run `/.manage.py test `  command on the terminal.
 2.After the tests are completed then some image files(one image file per test) are created inside media folder.

- I would like to work on this.

[2018-02-25 20:56] fristonio opened #138 "No getting started page in current latest commit."
There used to be a **getting started** page in origami ([See Here](http://origami.cloudcv.org/gettingstarted)). But it is missing in the current latest commit. In the current state, the **help** link in `initialSetup` points to getting_started but it gives a 404 error page since no getting started page exists.

We should have this page implemented as it shows the relevant steps needed to set up or

[2018-02-26 11:39] fristonio opened #139 "Create demo page ui improvement."
There are a lot of UI issues in create demo page.

- Footer is not properly aligned.
![image](https://user-images.githubusercontent.com/21292343/36668499-8b26e39e-1b17-11e8-958a-465a0cb8bd20.png)

- Page is not responsive
![image](https://user-images.githubusercontent.com/21292343/36668530-9ced3768-1b17-11e8-86f4-03d4087b51f7.png)
 A lot of other minor UI improvements are also required like margin

[2018-02-26 22:11] fristonio opened #141 "Side-bar does not show correct active links when we try to open a url directly."
When we try to go to a link directly by entering it into navbar, rather than navigating to it the active link in the side navbar is not correct.

Also by default, the navbar does not show correct active link, the default active link is `Discover` but the sidebar show `My Demos` active by default.

**Step to reproduce**
Enter a URL in browser search bar other than home, like `http://localhost:8000/

[2018-02-26 22:12] fristonio commented on #139
@AvaisP @uttu357 I have created a pull request for this, can you have a look. :)

[2018-02-26 22:15] fristonio commented on #138
One catch, the **Help** button on the sidebar links to Origami docs as of now. So to have a uniform behavior we should make both help options point to the same thing either to [docs](http://cloudcv-origami.readthedocs.io/en/latest/index.html) or to [getting started](http://cvfy.cloudcv.org/gettingstarted/configuration) page like this.

[2018-02-27 00:35] fristonio opened #143 "Demo page UI is completely broken."
Demo page UI is broken. Some of the things I noticed

- Not responsive
- Unnecessary scroll
- No proper alignment of components.
- Broken footer component.

[Demo Page UI screencast](https://www.useloom.com/share/422c9ed605134a8bbe20dab0018a2860)

[2018-02-27 18:10] fristonio commented on #132
Here a few things I chalked out that needs refactoring in `package.json`

- [ ] Move prettier and eslint-plugin-prettier to dev dependencies from dependencies.
- [ ] Fix npm scripts to run origami in dev environment. Make `npm start`, `npm run dev` work.
- [ ] npm lint scripts do not work at all, the directory provided is not correct.

One thing that I don't understand is how is the current versio

[2018-02-27 18:31] fristonio opened #144 "Introduce prettier and eslint to Origami."
Currently, we have prettier and eslint as a dependency in `package.json` but they are not configured.

This issue is a child for the issue #132 We should fix the `package.json` first and then add the configuration for eslint and then run a `npm run lint:fix`(maybe after refactoring package.json) to fix lint issues in Origami.

This issue depends on https://github.com/Cloud-CV/Origami/issues/132

[2018-02-27 18:46] fristonio commented on #129
This would be a minor piece of work, In the App.js file we just need to make the height of the Layout 100vh rather than 110vh. There is no need for separate Pull Request for this. I will do it in any other UI fixes PR.

[2018-03-02 03:12] vpn1997 opened #146 "[ UI - Issue ] - Backward navigation is not working on Discover page."
Demo -(https://drive.google.com/file/d/1FBk7r4wCJxR3Bj6WCh8LTBMOSfvbSPnR/view)

- **I would like to work on this**

[2018-03-02 03:32] vpn1997 opened #147 "[ UI - Issue ] - While Unchecking the checkbox the Unreachable Error does not goes away ."
-  link (https://drive.google.com/file/d/1ZwXBYkfkIlgAu4WhHXXQ8-6rpeKoc7q0/view)

-  **I would like to work on this**

[2018-03-02 03:41] vpn1997 commented on #146
Its also not working on Discover page even if the user is logged in .
Demo -(https://drive.google.com/file/d/1FBk7r4wCJxR3Bj6WCh8LTBMOSfvbSPnR/view)

[2018-03-02 04:07] vpn1997 opened #148 "Sharing feature does not work ."
Demo -(https://drive.google.com/file/d/1Gc23yWKx9PdPwvStG2VtCiHzGlLCpX8w/view)

[2018-03-02 12:16] fristonio opened #149 "[UI]: Search option selector in the header does not show options even though it has space to do so."
* Search option selector (demo/user) does not display the full option name even though there is space to do so.

![image](https://user-images.githubusercontent.com/21292343/36898575-76d450f2-1e41-11e8-8cf2-cf3e85842711.png)

[2018-03-02 12:19] fristonio opened #150 "[UI]: Background of MyDemos page does not seems to be correct."
I don't think this was the intended background color of my demos page, I think it should be similar to Discover page as the two pages only differ in content.

**My Demos**

![image](https://user-images.githubusercontent.com/21292343/36898665-ce322e32-1e41-11e8-932a-13e2f70eb91a.png)

**Discover**

![image](https://user-images.githubusercontent.com/21292343/36898738-0a4ea8be-1e42-11e8-82b3-a59c46c8

[2018-03-02 12:22] fristonio opened #151 "[UI]: Current tree of Origami does not have a favicon for the web portal."
![image](https://user-images.githubusercontent.com/21292343/36898828-78055ab0-1e42-11e8-894b-c2d9347174f7.png)

Do we have a favicon for Origami?

[2018-03-02 12:27] vpn1997 commented on #150
Hey @fristonio if you are working on this then please increase the gap between two adjacent rows in My demo page and make it similar to Discover page :smile: .

[2018-03-02 12:29] fristonio opened #152 "[UI]: Redesign initial setup page"
The initial setup page UI is not in the best possible state, there are some styling issues with the form:
- The form inputs have unnecessary margins and paddings.
- A default scroll is present in the page which is not necessary.

![image](https://user-images.githubusercontent.com/21292343/36898972-1a49f128-1e43-11e8-8e1c-ed4ff365ac08.png)

[2018-03-02 12:32] fristonio commented on #150
Yeah, there are a lot of issues with the styling of the cards in my demo page, like the cards should be of even heights and should the wrap the description if it exceeds a given threshold. I will try to fix them all when I will go through this issue. You can mention the changes you need when I make a Pull Request for that. :)

[2018-03-02 18:20] #127 closed

[2018-03-02 18:21] #136 closed

[2018-03-02 21:24] fristonio opened #155 "[UI]: For no user logged in state layout footer does not render properly."
For no login state, the layout is not rendered properly.

![image](https://user-images.githubusercontent.com/21292343/36922519-21ac3412-1e8e-11e8-8d95-bb881a53fcc5.png)

[2018-03-02 21:41] fristonio opened #157 "[Discussion]: webpack-stats-local.json in the repository."
Why do we have a `webpack-stats-local.json` in the repository, IMHO it should not be pushed to github.

- Remove webpack-stats-local.json
- add webpack-stats-local.json to gitignore

Inputs are welcome :)

[2018-03-02 21:53] fristonio opened #158 "toastr used in component but not imported everywhere"
In the current codebase, there are some components in which `toastr` is used but not imported. For example
https://github.com/Cloud-CV/Origami/blob/master/Origami/src/components/home/HomePage.js#L107

[2018-03-03 05:19] vpn1997 commented on #157
I think we need webpack-stats-local.json file for travis builds. So it would be better if we rather not commit the file or add it to  .gitignore. :smile:

[2018-03-03 08:49] fristonio commented on #157
I don't think its needed for Travis builds. It contains the stats about webpack compilation, but in our Travis build we don't even run webpack server. Only tests are run in Travis builds.
You can have a look at the contents of `webpack-stats-local.json` they are not at all required. webpack-stats-local.json is just for seeing stats about webpack compilation process on local build.

[2018-03-03 11:05] vpn1997 commented on #157
@fristonio go through this https://github.com/Cloud-CV/Origami/pull/113 . I once deleted that file in my commit and it caused problems in travis builds so thats why i told you not to delete that file.

[2018-03-03 16:55] fristonio commented on #157
I don't understand why is it so :/ I would like to check the travis build errors that shows up when I remove webpack-stats-local.json. I will just make a test PR for this. Thanks for your input @vpn1997 :)

[2018-03-03 17:43] fristonio commented on #157
The problem is that Django is decoupled with `django_webpack_loader` here
![image](https://user-images.githubusercontent.com/21292343/36937299-3a062b54-1f37-11e8-9a83-0e8bb762e3fc.png)

Essentially what should happen is wepack build should run in travis build which should automatically create `wepack-stats` file and then the bundles are used by django for various purposes like testing and all. But

[2018-03-03 17:45] fristonio commented on #157
Also one option that we have is since we don't use `django_webpack_loader` we can remove the dependency entirely. @AvaisP @uttu357 what's your stand on this?

[2018-03-03 22:25] #117 closed

[2018-03-04 02:25] fristonio opened #162 "[UI]: Clicking on origami icon in the sider should take to home(Discover)"
Currently, there is no click handler on sider origami icon. We should add a link to Origami home on the icon image.
![image](https://user-images.githubusercontent.com/21292343/36941440-3faf205c-1f81-11e8-810f-5475ea517f6b.png)

[2018-03-06 11:58] #158 closed

[2018-03-06 20:29] fristonio opened #163 "[Backend]: Duplicate cover-image of demo in database."
**[Discussion]:**
The cover images stored in the backend for a demo are duplicate. When user creating a demo does not provide an image we store the default image in the database, I think its not a good idea. There are two possible solutions I see here:
- Not to store any image when the user creates a demo without cover image and send the default image to the user if the demo requested does not hav

[2018-03-07 08:09] vpn1997 opened #165 "Redundant code in Homepage.js"
- Social share buttons are imported but are not used.
- Social share icons are imported but are not used.
- handleShareModal func is of no use.

[2018-03-07 16:53] vpn1997 opened #167 "[Discussion]:Invalid token creation"
Current -Token created always starts with nongh and never with gh.
Ideal -Token initial should be 'nongh'  if the target is remote else it should be 'gh'.

Shouldnt checking on "webapp is running locally checkbox" ,change Token from nongh to gh ?

@AvaisP @uttu357 your thoughts .

[2018-03-07 17:31] vpn1997 opened #168 "NGHDemoFramePage.js is Redundant"
NGHDemoFramePage component is never used or imported .
@AvaisP what purpose does NGHDemoFramePage serves?

[2018-03-07 19:15] fristonio commented on #168
If you are talking about this class https://github.com/Cloud-CV/Origami/blob/master/Origami/src/components/deployment/UsePrebuiltProject/nghDemoFrame.js#L21 then it is imported and used here https://github.com/Cloud-CV/Origami/blob/master/Origami/src/routes.js#L23

[2018-03-07 19:58] fristonio opened #169 "Origami Insights."
This issue tracks the progress of the task **analytics page for demos (Origami Insights)**

These are some initial ideas I have in mind regarding this:
- [ ] Number  of views on a demo
- [ ] Star a demo option.

These are just the initial thoughts, I will keep updating and adding more ideas to the list.
**Please feel free to add any feature you have in mind.**

**I would like to work on this**

[2018-03-07 19:59] vpn1997 commented on #168
Yup i missed that. Thanks @fristonio .Demoframe too redirects to blank page when no input and output component is provided (similar to #117 ).

[2018-03-07 20:02] #168 closed

[2018-03-07 20:06] fristonio opened #170 "[UI]: Directly navigating to create demo page gives a blank page."
**Steps to reproduce:**
Navigate to http://localhost:8000/ngh/user/register page directly. Create demo page does not load and only a loader appears.

[2018-03-07 20:49] vpn1997 opened #171 "[UI] : Demo frame UI is broken."
- Components are not properly aligned in  order.

![image](https://user-images.githubusercontent.com/17298412/37117280-d1febc2c-2276-11e8-9301-1f62095ade96.png)

[2018-03-07 20:56] vpn1997 opened #172 "[UI]:Demo frame redirects to a blank page when no input and output component is provided"
Issue similar to #117

[2018-03-07 21:26] vpn1997 opened #174 "[Discussion]:Use of DemoFrame"
**Problem** -DemoFrame route which renders DemoFramePage  component is not hooked to any event or action(I may be wrong).
**Q**  - What is the use of DemoFrame and how can a user access the DemoFrame route ?

- **Any inputs are welcome**

[2018-03-08 08:24] vpn1997 opened #175 "[Bug]: 'Manager' object is not callable error(REST API error)"
- Set url_path= 'user_input_component/(?P<user_id>[0-9]+)' in detail_route in InputComponentViewSet.
- Now send a get an api request  at (/api/input-component/{id}/user_input_component/{user_id}/)
- It will return 'Manager' object is not callable error.

[2018-03-08 08:29] uttu357 commented on #174
DemoFramePage can be only opened by link and is used to render the demo page embedded in an Iframe as in the main CloudCV website. It has all the styles from the Origami stylesheet removed and accepts stylesheet using PostMessageAPI from the parentWindow of the Iframe.

[2018-03-08 08:43] #97 closed

[2018-03-08 08:47] #172 closed

[2018-03-08 09:10] #146 closed

[2018-03-08 19:03] deshraj commented on #167
@vpn1997 I am not sure if I fully understand the issue. Can you please elaborate more on this?

[2018-03-08 19:52] vpn1997 commented on #167
Token created in the origami can either start with nongh or gh
(as given in the origami lib)
![image](https://user-images.githubusercontent.com/17298412/37172591-47d79c6e-2337-11e8-9d8a-61e73ded0ca6.png)

But currently only  nongh tokens are being created
(register_page.js)

![image](https://user-images.githubusercontent.com/17298412/37172743-b11142d4-2337-11e8-890c-1f10663ba2ad.png)

Altho i am n

[2018-03-08 23:34] fristonio opened #177 "[Backend, Discussion]: Django channel support and Dockerfile deprecation."
The Dockerfile we are using does not work anymore, the reason being we are using python2.7 base image and using Django channels which is only supported by python 3.5 and above.

![image](https://user-images.githubusercontent.com/21292343/37182341-cb9ac2e6-2356-11e8-8002-96190035c08c.png)

Docker builds thus fails in the current state, I haven't looked at any solution as of now. But one obvious sol

[2018-03-09 04:53] uttu357 commented on #126
It would be great if you could file a PR regarding this issue.

[2018-03-09 04:57] uttu357 commented on #129
@AvaisP What was the motivation behind changing the height to `110vh` in https://github.com/Cloud-CV/Origami/pull/62/files#diff-62a68ccfdd73e774263784a011e326aa?

[2018-03-09 04:59] uttu357 commented on #132
Keep the test script. Once the tests are added it will be used. Add build scripts to Origami so that a node server is not required while running Origami in production. Make sure the docker scripts are not broken due to this.

[2018-03-09 05:00] uttu357 commented on #138
Point Help everywhere to read the docs documentation for Origami.

[2018-03-09 05:02] uttu357 commented on #144
Mention this issue in #145

[2018-03-09 11:53] uttu357 commented on #177
@AvaisP Can you look into this?

[2018-03-09 13:51] #147 closed

[2018-03-09 13:55] #148 closed

[2018-03-09 14:19] #149 closed

[2018-03-09 14:31] AvaisP commented on #167
Hey
nongh and gh were used earlier when Origami was going in a different direction. It's legacy code and you can feel free to drop both of them (it'll be a big task tho :) )

[2018-03-09 14:32] AvaisP commented on #102
@PalashTanejaPro Did you submit a PR for this?

[2018-03-09 14:34] AvaisP commented on #143
Are you working on this @fristonio ?

[2018-03-09 14:35] AvaisP commented on #152
Hey
Yes this page needs to be redesigned!

[2018-03-09 14:39] AvaisP commented on #177
What error does it throw @fristonio ?

[2018-03-09 14:59] fristonio commented on #143
I think this depends on https://github.com/Cloud-CV/Origami/pull/133 will start working once it is merged. :)

[2018-03-09 15:00] fristonio commented on #152
Do we have a design for this page? I can do it if there is.

[2018-03-09 15:08] fristonio commented on #177
While building the docker image using `docker-compose build` it throws the error

![image](https://user-images.githubusercontent.com/21292343/37213843-3a90fa3a-23d9-11e8-85cc-e39c666f5d23.png)

while installing `channels` using pip. I tried installing `pathlib` beforehand but it does no good installing `async-timeout` which is a dependency of `channels`.  `async-timeout` is only python 3 compatibl

[2018-03-09 15:11] fristonio commented on #126
Ok, I will start working on it.

[2018-03-09 15:36] #171 closed

[2018-03-09 15:37] #174 closed

[2018-03-09 16:59] fristonio commented on #144
I think there should be a separate Pull Request for this. The main concern of this issue is fixing lint error in Origami using `npm run lint:fix` There are a lot of linting issues in Origami as of now and since it does not add any new feature or fix a bug it should be in a separate PR. You thoughts on this @uttu357

[2018-03-09 17:11] uttu357 commented on #144
Sure once #145 is merged you can make a separate PR fixing this.

[2018-03-09 18:12] fristonio commented on #132
I have already added the build scripts to `package.json` and they work fine on my local environment. I will add the test scripts also.

[2018-03-10 13:48] vpn1997 opened #180 "[Feature]: Add support for text file upload"
Currently we only have support for an image file upload but for tasks like  Text Summarization where there can be a huge chunk of text as an input , there can be a need for text file upload.
what are your thoughts on this @AvaisP @uttu357 .

[2018-03-10 14:03] #180 closed

[2018-03-10 14:55] vpn1997 opened #181 "Make text input scrollable"
- Increase the height of the text input div and make it scroll able .

[2018-03-10 17:12] vpn1997 opened #182 "Add Download Option for Image output"
- Adding a button to allow user to download the image output in one click

[2018-03-10 21:41] vpn1997 opened #183 "[Bug]: Process.env object is not set properly"
- CLIENT_IP & CLIENT_PORT is set to `undefined` in config.js because Process.env is not
  set  properly .

- Due to this `getWebAppStatus()` is not working properly which in turn shows the unreachable error in
  the registration page .

[2018-03-10 23:43] AvaisP commented on #152
There isn't design. Please post a design here and get it approved. You can then develop it :D

[2018-03-10 23:46] AvaisP commented on #177
Install pathlib using a separate pip instruction before the uwsgi and channels installation.
Try
RUN pip install pathlib
RUN pip install uwsgi channels

[2018-03-10 23:49] #129 closed

[2018-03-10 23:49] #155 closed

[2018-03-10 23:50] #139 closed

[2018-03-11 18:29] Rish1997 commented on #83
Hey @dexter1691 !! could I work on this issue??

[2018-03-12 10:37] vpn1997 opened #185 "[Bug]:Facebook Sharing is Not working"
- Sharing  demo model link though Facebook shows an error.

![37278755-bde3c61a-260e-11e8-91e9-77d6e6047613](https://user-images.githubusercontent.com/17298412/37278890-22601526-260f-11e8-9c1e-c8efcaa7b76c.png)

[2018-03-12 11:48] #138 closed

[2018-03-13 14:24] vpn1997 opened #186 "[Discussion]:Providing Rest API to access models"
Hey i am working on Providing API for accessing demo models. There is an issues i want to discuss

-  Currently origami-lib requires socket-id in every request , without socket-id output functions wont work.
   But i don't think socket-id is a required parameter in the API calling.So i think there is some  modification
   required in the origami-lib.

what are you views on this @AvaisP @uttu357

[2018-03-13 16:32] #132 closed

[2018-03-13 17:53] fristonio commented on #152
Sorry, @AvaisP I think I did not make my statement clear. What I meant was I can write the react code for the inital page frontend if there is a design available. Though I can work on design, but I think I would need some time for this because I don't have any experience with design as of now. Let's do it after we are done with other issues I have taken up earlier. In the meantime, if anyone else

[2018-03-13 18:19] vpn1997 commented on #186
One way is that we create a function `isApi()` that return `True` if the request is made through api .
We can then return the Json data if its true otherwise use the output functions provided in the origami-lib.

[2018-03-13 18:38] vpn1997 commented on #186
One way  is that we provide a function `isApi()` that returns `True` if its an Api request otherwise `False`.
So the demo host user can return the json data if its true otherwise use normal output functions provided in the origami-lib.
@AvaisP @uttu357

[2018-03-16 00:57] #144 closed

[2018-03-16 05:08] vpn1997 commented on #183
- Hey dont you think we should add config.js file to .gitignore since we dont need to commit the changes
 done in this file . Currently we have to provide  the value of CLIENT_PORT and CLIENT_IP as that of our origami.env file(which itself is in gitignore).

![screenshot](https://user-images.githubusercontent.com/17298412/37504678-0e3c10aa-2906-11e8-8f85-211b32bf262c.png)

@uttu357 @AvaisP

[2018-03-17 07:10] #165 closed

[2018-03-17 08:31] #162 closed

[2018-03-18 00:11] fristonio opened #190 "[Discussion]: No restriction on application demo name in create demo page."
In create demo page I can enter any length application name, It is not validated anywhere in the codebase as of now. So when we try to enter very long application name the Origami API server throws a 500 internal server error.
![image](https://user-images.githubusercontent.com/21292343/37561213-e8f46f4e-2a6e-11e8-876f-8ff20730639f.png)

I think we should fix this incorporating a check in frontend

[2018-03-18 01:08] uttu357 commented on #150
@fristonio Are you working on this?

[2018-03-18 01:09] uttu357 commented on #151
@deshraj We need a favicon for Origami.

[2018-03-18 01:11] uttu357 commented on #157
Fixed after #189.

[2018-03-18 01:11] #157 closed

[2018-03-18 01:16] fristonio commented on #150
There are some other issues with the page as vipin mentioned I will gather them all and will make a Pull Request tomorrow :)

[2018-03-18 06:26] vpn1997 commented on #183
hey @AvaisP  was this issue there after merging (https://github.com/Cloud-CV/Origami/pull/105) ?
Can any one conform if they are able to reproduce this issue :smile: .

[2018-03-18 06:32] vpn1997 commented on #185
Issue solved -(https://github.com/nygardk/react-share/issues/8)

[2018-03-18 06:32] #185 closed

[2018-03-18 22:02] #175 closed

[2018-03-19 18:47] fristonio opened #191 "Update Readme"
The readme is not updated and setup will not work with the current Readme, as `node server.js` will fail the webpack config should be loaded with babel-node. We should replace `node server.js` with `yarn run dev` as it also runs lint tests in parallel.

We can also add instruction to readme regarding setting up origami in the production build.

[2018-03-19 18:58] uttu357 commented on #191
Can you make the PR regarding the same as soon as possible?

[2018-03-19 19:19] fristonio commented on #191
Yes I will make a PR in an hour or so. :)

[2018-03-19 21:08] #191 closed

[2018-03-19 23:14] fristonio opened #193 "[Discussion]: Profile page"
Currently there is only a slight difference between profile page and discover page. The profile page does not show any information regarding the user. I think we should use github api to get user profile and show it in profile page along with the demos created by the user.

**Profile Page**
![image](https://user-images.githubusercontent.com/21292343/37627123-04fd2b46-2bf9-11e8-9ae2-dfcb1949d637.pn

[2018-03-19 23:20] fristonio opened #194 "[UI]: Limit description length to be shown in demo card."
Description in demo card does not have any max length, so the UI breaks in cases when description is very long. I think we should limit the length of description to be shown in the demo card. Full description of demo can be shown in demo page.

![image](https://user-images.githubusercontent.com/21292343/37627359-05a14464-2bfa-11e8-9a24-08504cec5a79.png)

[2018-03-20 04:45] uttu357 commented on #193
@fristonio Before adding new features we should first focus on fixing the bugs present in Origami. Can you fix the issues you have created before working on this?

[2018-03-21 13:12] fristonio commented on #193
Yeah, those issues are my top priority, but I post these issues so that I don't forget about them. :)

[2018-03-21 13:22] AvaisP opened #196 "Create Image Captioning demo and dockerize the application"
Find an implementation of image captioning and create a demo using Origami-lib. Once done, dockerize this to ensure ease of deployment

[2018-03-22 12:39] uttu357 opened #197 "Add unit tests for frontend React components using JEST."

[2018-03-22 12:41] uttu357 opened #198 "Enable user to give feedback to the demo owner."
- On the demo page, the user should be able to give feedback to the demo owner.
- The demo owner should be able to see the feedback for each of his demos.

[2018-03-22 12:48] uttu357 commented on #181
Add it to the demo page UI issue #143.

[2018-03-22 12:49] uttu357 commented on #177
@fristonio Does this solves the issue?

[2018-03-22 13:19] fristonio commented on #177
Sorry, I don't know how I missed the comment from AvaisP. When I tried adding `RUN pip install pathlib` as above after clearing the docker containers the install was successful. But there was some problem with django being able to communicate with postgres server. I have to figure it out now, will try to send the pull request as soon as I get it fixed. :)

Thanks for reminding me of this @uttu357

[2018-03-22 13:25] vpn1997 commented on #181
@uttu357 hey it not demo page issue rather Text input component issue.Text input component will also be rendered in the drag and drop container. So i think it will be better if we create a separate PR related to this.I am not working on this issue as of now , so its open .

[2018-03-22 13:32] vpn1997 commented on #198
Hey rather than one to one feedback , I think we should provide something like comment section where demo creator as well as other users can give their reviews ,ask their doubts etc. :smile:

[2018-03-22 13:40] ayushpatel567 commented on #196
I would like to take up this issue

[2018-03-22 13:41] fristonio commented on #194
@uttu357 assign this to me, I working on it :)

[2018-03-22 13:59] uttu357 commented on #198
@deshraj What do you think about this?

[2018-03-22 14:00] uttu357 commented on #196
@ayushpatel567 Sure.

[2018-03-22 14:07] uttu357 commented on #181
@vpn1997 Okay sounds good! :+1:

[2018-03-25 07:18] vpn1997 opened #200 "[Documentation] :Improve ReadMe"
- ReadMe of Origami is not descriptive of what Origami is and how it works.
 Todo -
 1.Add detail description about Origami.
 2.Make a flowchart on how Origami interacts with Demo Models and with Origami-library.
 3.Add a video description on how to make a full working demo using  Origami.

[2018-03-25 17:59] pavanagrawal123 commented on #183
I don't recall this issue if the env is set properly. In retrospect: the proper way for #105 was to do process.env.x || x in order to not run into this issue.

[2018-03-25 21:33] vpn1997 commented on #183
Actually the main problem is we are trying to access the process env object at the client side .But process env is set at server side that's why its value is `undefined` on client side(config.js).We may have to revert #105 and modify `config.js` accordingly  .
@pavanagrawal123 @AvaisP

[2018-03-26 04:18] uttu357 commented on #183
@vpn1997 @pavanagrawal123 Just add it in the webpack config and then it will be available on the client side, like this https://github.com/Cloud-CV/CloudCV/blob/develop/frontend/webpack.config.dev.js#L5 and https://github.com/Cloud-CV/CloudCV/blob/develop/frontend/webpack.config.prod.js#L7

[2018-03-26 04:24] pavanagrawal123 commented on #183
I see, however, architecturally, isn't it a bad idea to expose our DropBox API key to client? When I originally wrote #105, I had thought that was only being run server side. If we expose the API key to client side, AFAIK, it can be abused and revoked.

[2018-03-26 08:06] #194 closed

[2018-03-26 22:45] fristonio opened #201 "[Frontend]: Move all constants to Origami/src/constants"
Currently, the codebase for origami is not very pretty when it comes to code reusability and flexibility. There is a lot that can be done in this context.
Global constants still exist hard coded in the frontend component modules, that can rather be shifted to a more general `Origami/src/constants` which will make the code more readable and usable.
I have added some of these while working on anothe

[2018-04-02 01:12] fristonio commented on #177
After building the image using `docker-compose build` when I try to run a container I get the error
[code]

Is there some problem with docker-compose too or am I doing something wrong. As I have seen that when I run the container it opens all the ports required `5432 6379 and 8000` but still I get the above error.

@uttu357 @AvaisP

[2018-04-04 22:34] fristonio opened #202 "[Core]: Upgrade psycopg2 version in Origami"
Currently psycopg2 in `requirements.txt` is using version 2.7.1 which has a known issue on some distros.
https://github.com/psycopg/psycopg2-wheels/issues/2

This issue can be resolved by simply upgrading psycopg2 to version 2.7.4 and since this version upgrade is not conflicting there is no reason we should not do it.
## Environment

* Operating System and version: ArchLinux
* python version: 3.5

[2018-04-05 06:37] #202 closed

[2018-04-08 08:21] vpn1997 opened #204 "Suppress warning logs in prettier"
- Currently we have prettier showing warnings and errors before webpack builds but it will be better if it only shows  error rather than  warnings .It will help in debugging errors easily. Otherwise we have to go through every warning  while finding  the errors.

[2018-04-08 21:00] vpn1997 commented on #204
- Hey shouldn't we config our package.json file such that whenever it builds , it  will run  `yarn run lint:fix` so
 that it auto fixes most of the warnings and user will get only the errors and warning that requires attention.

[2018-04-08 21:34] fristonio commented on #204
The idea does make sense but since currently origami runs lint test during build and exits if any errors are there leaving warnings as they are. Whenever we do a production build we should be certain that there are no lint errors and current implementation serves that purpose. I don't think that there should be any code changes while building so running a lint fix there is not the best way.
A bett

[2018-04-08 21:42] vpn1997 commented on #204
Pre commit hooks will also change the code before committing though. I dont think `link:fix` will have any code breaking changes , I tried adding `lint:fix` before `lint:watch test:watch` , it was working just fine .

[2018-04-08 21:49] uttu357 commented on #204
@vpn1997 @fristonio Running `lint:fix` on the build is not recommended as lint errors should be fixed before you build your final dist. Build is run on production and according to the flow there should be no styling errors while you build your final code. If there are still errors which are fixed at build, that implies that they are present in the remote codebase which defeats the purpose of linti

[2018-04-08 22:04] #204 closed

[2018-04-09 19:12] vpn1997 commented on #198
@uttu357 hey can i work on this ?
Clicking on comment button will take us to comment section.

![screenshot 4](https://user-images.githubusercontent.com/17298412/38517368-687d180c-3c57-11e8-933d-ab9002d83886.png)

- I have made the initial attempt for demo section
( https://drive.google.com/file/d/190cGlDfKWq8jREIjT_XPCeCD5gG-XQnQ/view )

[2018-04-09 20:26] fristonio commented on #198
My thoughts on this are :

* I would like to go with the idea of threads like comments rather than one to one feedback.
* For the implementation, I think it would be better to have a sidebar having the comment threads, this sidebar can have hidden and visible state. S rather than a comment button we will have a comment icon on top right corner which on clicking will open the sliding sidebar on the

[2018-04-09 20:49] deshraj commented on #198
@fristonio I agree with your point that we should keep the comments in threads.

Instead of putting the comments in the sidebar, I think we should put the comments section at the bottom on the demo instead of putting it in the sidebar. Not everyone wants to see the comments related to a demo. People are more interested in seeing the demo. We can utilize the sidebar for something else like showing

[2018-04-09 21:04] fristonio commented on #198
I was thinking that a separate view like a portal or something would be better suited for analytics.
For the comment section, since the two sections(demo and comments) are better off separate I thought that we can have a different section entirely for comments which do not interfere with the flow of the demo.
Though the flow you described also seems like a good approach and we can work on those li

[2018-04-10 06:07] uttu357 commented on #198
@vpn1997 @fristonio I would like you to complete the work you are doing currently before taking up another issue. Plus adding new features is not the priority. Fixing UI bugs and making UI stable is. It would be preferable if that is completed first so that we have a stable Origami application before we start adding new features.

[2018-04-10 06:25] deshraj commented on #198
I totally agree with @uttu357 that we should try to complete the existing moving parts and get them done and make the project more stable before start implementing new features. Let's make sure that we are more focused on improving the current project instead of adding new features.

[2018-04-10 06:27] deshraj commented on #198
@vpn1997 the features that you are suggesting are really good but they are overkill at the moment. We should first try to have basic complete functionalities and then, later on, we can try to add more things on top of it.

[2018-04-10 18:24] vpn1997 opened #208 "Links not working"
- Footer link in profile page is not working .
- Clicking on `getting started` link  in register page is gives 404 error.

[2018-04-10 18:57] vpn1997 opened #210 "Make Footer style consistent"
- Footer style of Profile , Discover ,My demo page is different from that of register page.
- Update Footer content of register page .

[2018-04-10 19:17] vpn1997 opened #211 "Improve UI of social sharing Modal"
Current Design -

![screenshot 4](https://user-images.githubusercontent.com/17298412/38578684-3c32e7ec-3d22-11e8-808b-79a47ebded9d.png)

Some designs that i have in my mind are -

1.( improved version of what we have )
![share](https://user-images.githubusercontent.com/17298412/38578498-b37c50b4-3d21-11e8-894f-10e6c37d8838.png)

2.
![share2](https://user-images.githubusercontent.com/17298412/38578

[2018-04-10 19:49] vpn1997 opened #212 "Sample Images not working properly while using with text inputs"
- Consider a VQA model in which we have both Text and an image field .Now using sample Images for Image input will simply send image to the demo server without sending the text input.

( https://drive.google.com/file/d/13V_K4w6kiNq4FcoAu9tzJUfyYKM9f1ko/view )

[2018-04-11 14:40] vpn1997 opened #213 "Add footer in demo page."
- Currently demo page only shows footer when user is  **logged In**.
- This issues deals with adding footer in demo page  when user is not logged in .

[2018-04-11 17:51] fristonio opened #215 "Move inline css styling to a css file."
As of now, we use inline styling in origami. I think it would be better to move all inline styling to a css file. It will improve code readability. We can also use css frameworks like scss or something. I don't have any strong opinions here, this might require inputs from you @uttu357 @deshraj  @AvaisP

[2018-04-11 20:16] vpn1997 opened #216 "[ UI ]: Improve UI of sidebar and Header"
- Current UI is rather blunt and needs improvement .
- I am currently working on this and will share my initial attempt asap.

[2018-04-11 22:03] vpn1997 commented on #216
Hey @uttu357 @AvaisP have a look at my initial attempt
[ https://drive.google.com/file/d/1e9kXyP4kvvs-S3lq7w5xFnZalWrFQqiA/view ]

[2018-04-12 04:10] #216 closed

[2018-05-04 08:17] fristonio opened #219 "Add Pull request and issue templeates to comments."
In reference to #120 and #121  where templates for GitHub pull request and issue are added.
For these templates, I propose that we should add them to comments rather than bare markdown. We can do that simply by adding enclosing templates in HTML comment signature **<!--** and **- ->**

[2018-05-05 07:30] vpn1997 commented on #219
We can also consider adding checklist for Pull request and Issue Template.

[2018-05-05 15:36] fristonio commented on #219
My suggestion would be to keep it as minimal as it could be, making it complex won't be necessary IMHO.

[2018-05-06 20:13] fristonio opened #223 "Upgrade webpack to version 4."
Origami as of now works on webpack version 3.10 but webpack 4 has been released which has a lot of improvements over webpack3 including less build time and better plugin architecture.
Take a look at [Webpack4 what's new](https://auth0.com/blog/webpack-4-release-what-is-new/)

Upgrading the version will improve performance and will make builds faster.

[2018-05-12 10:43] uttu357 commented on #219
Closed by #221 and #222.

[2018-05-12 10:43] #219 closed

[2018-05-12 10:45] #208 closed

[2018-05-12 10:51] vpn1997 commented on #210
Closing as this issue wont be there in new scheme of things.

[2018-05-12 10:51] #210 closed

[2018-05-12 10:53] vpn1997 commented on #150
Closing as this issue wont be there as per new scheme of things.

[2018-05-12 10:53] #150 closed

[2018-05-12 10:54] #167 closed

[2018-05-26 09:59] alokpant commented on #213
@vpn1997 Is this issue still up for grabs? Can I take this issue?

[2018-05-26 10:12] vpn1997 commented on #213
@alokpant Hey !
We are currently revamping our whole fronted. So This issue wont be there in our new UI.

[2018-05-26 10:13] #213 closed

[2018-06-25 08:33] #143 closed

[2018-06-25 08:33] #152 closed

[2018-06-25 08:34] #193 closed

[2018-06-25 08:34] #151 closed

[2018-06-25 08:51] #211 closed

[2018-06-25 08:51] #212 closed

[2018-06-25 08:56] #181 closed

[2018-06-25 08:57] #108 closed

[2018-09-01 16:55] darthgera123 commented on #182
hi i would like to work on this issue

[2018-09-01 22:32] fristonio commented on #182
Hey @darthgera123 we are currently actively working on the new User Interface for Origami so these issues won't be there in the new release. You can help us with issues in other projects.

* [origami-lib](https://github.com/Cloud-CV/origami-lib)
* [origami-daemon](https://github.com/Cloud-CV/origami-daemon)

If you need some help with the codebase do reach out to me.

[2018-09-02 14:53] techytushar commented on #215
hey @fristonio is this issue still open? I would like to work on this

[2018-09-02 23:06] fristonio commented on #215
Hey @techytushar we are currently actively working on the new User Interface for Origami so these issues won't be there in the new release. You can help us with issues in other projects.
* [origami-lib](https://github.com/cloud-cv/origami-lib)
* [origami-daemon](https://github.com/cloud-cv/origami-daemon)

If you need some help with the codebase do reach out to me.

[2018-09-05 10:07] fristonio commented on #186
Fixed in https://github.com/Cloud-CV/origami-lib/pull/23

[2018-09-05 10:07] #186 closed

[2018-09-22 09:00] geekayush opened #232 "Typing error in Readme"
There's a typing error in "Contributing to Origami" section of the Readme.

## Expected Behavior
Make sure you run tests on your changes before you...

## Actual Behavior
Make sure your run tests on your changes before you...

## Screenshot
![screenshot_2018-09-22 cloud-cv origami](https://user-images.githubusercontent.com/22499864/45915512-a8f5d600-be73-11e8-98d3-b90da1b39350.png)

[2018-09-22 10:30] fristonio commented on #232
@geekayush you can go ahead and make a Pull Request for this. :)

[2018-09-22 11:08] geekayush commented on #232
@fristonio Sure

[2018-09-23 00:08] #232 closed

[2018-10-08 12:10] sk9331657 opened #235 "Making Origami UI more responsive"
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description

F

[2018-10-08 17:00] sk9331657 commented on #235
@RishabhJain2018  Please suggest ??

[2018-10-08 19:37] vpn1997 commented on #235
@sk9331657 Hey  this is one of the tasks for GCI task but feel free to work on this.

[2018-10-09 03:00] sk9331657 commented on #235
@vpn1997  I have submitted my GCI Mentor application with minimum 25 tasks . Please review that.

[2018-10-30 19:29] sayamkanwar opened #245 "Logout button"
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description
I

[2018-11-01 11:34] vpn1997 opened #246 "[ GCI ]: Add test for bundle upload and download"
`branch : latest`
- Add tests for bundle upload and download.
- code : `api/views/'
          : func - bundleup and bundledown

[2018-11-01 11:35] #35 closed

[2018-11-01 11:36] #24 closed

[2018-11-01 11:36] #5 closed

[2018-11-01 11:36] #78 closed

[2018-11-01 11:37] #23 closed

[2018-11-01 11:37] #20 closed

[2018-11-01 11:38] #17 closed

[2018-11-01 11:38] #13 closed

[2018-11-01 11:38] #11 closed

[2018-11-01 11:39] #30 closed

[2018-11-01 11:39] #31 closed

[2018-11-01 11:39] #79 closed

[2018-11-01 11:39] #83 closed

[2018-11-01 11:40] #169 closed

[2018-11-01 11:40] #126 closed

[2018-11-01 11:40] #190 closed

[2018-11-01 11:41] #183 closed

[2018-11-01 11:43] vpn1997 commented on #177
@fristonio  is it still an issue?

[2018-11-01 11:43] #170 closed

[2018-11-01 11:43] #163 closed

[2018-11-01 11:55] vpn1997 opened #247 "Add functionality on Reset button"
- Currently the reset button on the demo_register page is not functionality .
- Whenever a user clicks on it , it should reset all the form fields and selections.

[2018-11-01 11:57] gautamjajoo commented on #247
@vpn1997 I would like to work on this issue

[2018-11-01 12:18] vpn1997 commented on #247
@gautamjajoo Sure .

[2018-11-01 12:26] vpn1997 opened #248 "Add functionality for Demo Count in my profile"
- My profile side bar has a Demo Count which is not functional but should display the demo count that the user has created.

[2018-11-01 12:34] vpn1997 opened #249 "Improvement in the my profile section"
![issue](https://user-images.githubusercontent.com/17298412/47851909-11838b80-de00-11e8-851d-56b491a20669.png)

1. There should be proper spacing between the elements.
2. By clicking on the `Email` button the Email id should get copied to the clipboard and there should be a pop up kind of notification showing ` Email copied to clipboard`.

[2018-11-01 12:43] vpn1997 opened #250 "Form validation functionality"
- Demo_register page does not have any form validation enabled.
- User should get to know which details are necessary to fill and there should be restriction on the length of input such as `Demo name` and `Demo description`.
- Free Feel to add some more points.

[2018-11-01 12:45] vpn1997 opened #251 "Autocomplete for search bar"
- Add Autocomplete for the search bar in the Dashboard Page.

[2018-11-02 05:30] omkar13 commented on #196
Is this issue resolved? Is anyone working on this? I have background in computer vision and would like to take up this issue

[2018-11-02 07:49] vpn1997 commented on #196
@omkar13 sure.

[2018-11-06 13:39] vpn1997 opened #257 "[ GCI ]:Design Landing Page for Origami."
- [ ] Small description about origami.
- [ ] login and logout functionality.
-  Share your Mockups ,get them approved and then work on the implementation part.

[2018-11-10 08:03] itaisteinherz commented on #250
For some reason the issue didn't get closed automatically, but this has already been resolved in #255.

[2018-11-11 16:45] JayjeetAtGithub commented on #251
Hi ! This looks interesting...Can i take up the issue ?

[2018-11-11 20:29] JayjeetAtGithub commented on #251
Ok

[2018-11-16 10:33] #248 closed

[2018-11-16 11:24] Caffetaria opened #269 "Read the docs link does not work"
## Description
In step 2[Configure bundled code] of creating a demo, the _Read the docs_ link does not work when you click on it.
## Expected Behavior
On clicking on the  _Read the docs_ link, the user should be redirected to https://cloudcv-origami.readthedocs.io/en/latest/web-app.html#configuration

## Actual Behavior
On clicking on the  _Read the docs_ link, the user is not redirected to any pa

[2018-11-16 18:57] vpn1997 commented on #269
@Caffetaria hey we have the documentation for Origami but its not updated as yet  so this issue will only be resolved after the docs are updated.

[2018-11-17 05:32] bksahu commented on #249
Hi. I would like to work on it. :smile:

[2018-11-18 03:25] vpn1997 commented on #249
@bksahu Sure .

[2018-11-21 06:03] Caffetaria opened #272 "Add functionality to the Modify button on My Demos page"
## Description
The _Modify_ button on _My Demos_ page does not work.

## Expected Behavior
On clicking the _Modify_ button of a demo, the user should be redirected to the appropriate page where the the user can make changes to the content and specifications of that demo.

## Actual Behavior
On clicking the _Modify_ button of a demo, the user is not redirected to any page.

## Steps to Reproduce th

[2018-11-21 06:12] Caffetaria commented on #272
At present, using the available code on the page, I connected the button click action to the modal (relevant code snippets below):

[code]
and

[code]

This results in the modal window showing properly like so:

<img width="1050" alt="screen shot 2018-11-21 at 8 09 27 am" src="https://user-images.githubusercontent.com/9400738/48822175-0928cb80-ed82-11e8-854f-7e3aeed7ec37.png">

The following quest

[2018-11-22 05:44] te9ju commented on #247
I need help regarding this.

[2018-11-22 05:45] te9ju commented on #247
i need help regarding this

[2018-11-24 06:53] techytushar commented on #272
The popup you are seeing was used in the previous version of Origami. In this version, instead of the popup, the modify button should redirect the user to a page similar to the create demos page, but the input fields should be prefilled with the demo information. The submit button should be changed to save or modify.

To prefill the demo information you'll have to get the demo info from the databa

[2018-11-24 07:17] Caffetaria commented on #272
Do we need to get the demo information from the database? Because this information is already available in the state object and other React variables. For example, on the "My Demos" page, if I do:

[code]
I'm able to see the information related to the demo.

<img width="540" alt="screen shot 2018-11-24 at 12 39 42 pm" src="https://user-images.githubusercontent.com/9400738/48965597-47bec000-efe6-11

[2018-11-24 12:49] Caffetaria commented on #272
If we go to nonGHUserProfile.js and do a console.log like so:
[code]

we can see what appears to be all of the information created on the create demo page.

<img width="833" alt="screen shot 2018-11-24 at 6 16 43 pm" src="https://user-images.githubusercontent.com/9400738/48968401-2c1ede00-f015-11e8-9f67-a4e51a8b279f.png">

[2018-11-24 13:36] Caffetaria commented on #272
So my current plan is to create a screen that allows the user to modify the above mentioned object. Then I will call on the function named 'updateNonGHDemoModel' in 'nonghDemoModelAction.js'. The 'updateNonGHDemoModel' expects a parameter called "newModelData" ... I'm guessing that this is a plain JS object.

Please let me know if this is a good direction to try.

[2018-11-24 14:15] techytushar commented on #272
You would want to call the `custom_demo_controller` function to update the info in the database as well. This function is stored in the `api/views.py` file and can be called by using a PUT request at URL `api/demo/[user_id]/[demo_id]`.

[2018-11-25 10:58] Caffetaria commented on #272
Thanks for the input @techytushar
modifyDeployed.js has a function that makes this PUT request.

[2018-11-25 15:25] Caffetaria opened #273 "Fix bug in zip file"
## Description
On clicking the _Download_ option on the _Configure bundled code_ page, a _zip_ file is downloaded.
However the file does not open after it is downloaded.

## Expected Behavior
The _zip_ file opens after it is downloaded on the computer.

## Actual Behavior
The _zip_ file does not open and produces a new copy of the same file each time it is clicked.

## Steps to Reproduce the Probl

[2018-11-27 06:43] techytushar commented on #273
You might want to claim this task: https://codein.withgoogle.com/tasks/5564398660747264/ and also report this there.

[2018-11-29 02:08] Caffetaria commented on #273
@techytushar Thank you. However, I can't claim the task at  https://codein.withgoogle.com/tasks/5564398660747264/  as it is listed as a beginner task and I've already finished off the limit of 2 beginner tasks.

[2018-12-08 06:46] darthgera123 commented on #251
hi is this issue still open?

[2018-12-08 07:03] vpn1997 commented on #251
Yeah

[2018-12-09 07:17] darthgera123 commented on #251
@vpn1997 for the autocomplete do i make an api call to all the demos for a particular user or how do i get the list of all suggestions to be made?

[2018-12-18 13:48] himanshuc3 opened #276 "Switching to context api"
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description

C

[2018-12-19 10:23] himanshuc3 opened #277 "Improving installation instructions on mac."
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description
Im

[2018-12-21 13:16] himanshuc3 commented on #223
Hi. As I can see currently in ```webpack.base.config.js```, the only thing it is doing is bundling from the entry point index.js. One thing that could be changed is definitely the ```CommonsChunkPlugin```. I would first make that commit see if there is some preformance change also, I would suggest to make a ```build-utils``` folder instead of littering the top level folder with these build utiliti

[2018-12-22 06:05] himanshuc3 opened #278 "Loading function of no use in routes.js"
## Description
Loading function in neither being used in switch nor being exported.

[2018-12-22 06:10] himanshuc3 opened #279 "Using JSDocs for inline docs"
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description
It

[2018-12-24 11:04] aru31 opened #280 "Typing error in README.md"
Typo in README.md
## Error
1. Renaming `origami.env.sample.py` as `origami.env` and setting environment variables in origami.env
2. Authorization callback URL: http://localhost:8000/accounts/github/login/callback/

## Fix
1. Renaming `origami.env.sample` as `origami.env` and setting environment variables in origami.env
2. Authorization callback URL: http://localhost:8000/auth/github/login/callback

[2018-12-24 11:07] aru31 commented on #280
@vpn1997 can i work on this issue?

[2018-12-29 09:09] akata01 commented on #223
Hi, i would like to work on this.

[2018-12-30 11:10] akata01 commented on #257
Hi..I want to work on this.

[2018-12-31 06:05] vpn1997 commented on #257
@akata01  sure go ahead.

[2019-01-02 06:39] captain-pool commented on #280
I think it would be better to close this issue now.

[2019-01-03 18:24] gupta-utkarsh commented on #197
@himanshuc3 No this won't be a complete GSoC 2019 proposal. We would like you to add a few tests first. The idea is to build the full test suite eventually.

[2019-01-05 15:59] ghost commented on #257
@vpn1997 Hii, i have created the mockup for "Initial setup page" and deployed it to heroku. Here is the link to the heroku app ->
https://origami1.herokuapp.com/ .
Issues with the current "Initial Setup Page" that i have addressed in this mockup are :
1.Label for the "Github username" input overlap with it's input text.

2.A full fledged side bar dashboard is not required on the initial setup page

[2019-01-07 14:14] kurianbenoy commented on #246
@vpn1997 I was interested to work on this. It may take some time, as I have not completely set up my local system yet

[2019-01-08 05:13] vpn1997 commented on #257
@akata01 hey sorry for the late response.By landing page I meant basically kind of homepage where we can tell what Origami is.Like https://www.djangoproject.com/  & http://flask.pocoo.org/ .

[2019-01-08 07:26] ghost commented on #257
@vpn1997  sorry, i misinterpreted. I will share the mockup for homepage as soon as it's done.

[2019-01-08 12:03] shikamaru-96 commented on #251
Hi would like to work on this issue is it still open ?

[2019-01-09 12:51] akata01 commented on #257
@vpn1997 Hii, linnk to mockup is -> https://origami-landing-page.herokuapp.com/ . Please let me know what you think of it.

[2019-01-09 16:55] ghost commented on #257
@vpn1997 Hii, i have deployed mockup here -> http://origami-landing-page.herokuapp.com/ . Please, let me know what you think of it.

[2019-01-09 17:27] aditya-mukherjee commented on #247
Hi! Is this issue still open? May I work on this issue?

[2019-01-10 14:49] vpn1997 commented on #257
@akata01 Hey great work.I think we can iterate on it a bit more and can converge on a bit crisp Design. :slightly_smiling_face:

[2019-01-10 15:23] ghost commented on #257
@vpn1997 ok , on it.

[2019-01-12 05:15] ghost commented on #257
@vpn1997 Hii, i have deployed revised mockup here -> https://origami-landing-page.herokuapp.com/ (same link as before). Please let me know what you think of it.

[2019-01-13 07:25] ghost commented on #257
@vpn1997 hey, i have made some changes to the previous mockup. I have added slideshow play/pause on hover functionality and changed header texture a bit.

[2019-01-13 07:45] vpn1997 commented on #257
Looks good starting point to me. I have asked @shivaniprakash95  to review this.You can jump on some other issue in the meantime.

[2019-01-13 07:52] ghost commented on #257
@vpn1997 ok.

[2019-01-13 08:07] ghost commented on #197
@uttu357 Hi, i would like to work on this issue. Is there any specific component you want me to start with ?

[2019-01-13 17:54] ghost commented on #257
@vpn1997 I have added an animated gif in place of the before used static image. (just updating)

[2019-01-13 23:36] akata01 commented on #247
@vpn1997 as no one seemed to be working on it so i made the pull request.

[2019-01-15 14:28] ghost commented on #273
https://github.com/Cloud-CV/Origami/pull/285

[2019-01-15 20:28] ghost commented on #223
https://github.com/Cloud-CV/Origami/pull/286

[2019-01-16 14:24] ghost commented on #251
@vpn1997 https://github.com/Cloud-CV/Origami/pull/287

[2019-01-17 07:39] geekayush opened #288 "[UI] : My Profile section's card"
## Description
Currently, the list item is not taking the full width of the container. To improve the UI, I would suggest to remove the padding of the card and increase the width of the list items. Also, the footer height of this section is not matching the height of the other footers.

## Expected Behavior
![screenshot_2019-01-17 origami by cloudcv](https://user-images.githubusercontent.com/22499

[2019-01-17 14:49] geekayush opened #289 "Lint warnings"
## Description
There are 32 warnings after going through a lint check. Removing the warnings will help in improving the current code.

## Expected Behavior
No warnings

## Actual Behavior
32 warnings

## Steps to Reproduce the Problem
1. In the source folder run `yarn run lint`

## Screenshots
![lint](https://user-images.githubusercontent.com/22499864/51326174-87f56880-1a94-11e9-9d21-81d668988db7.

[2019-01-17 15:01] geekayush opened #290 "Introduce lint-staged to Origami"
## Description
Linting makes more sense when run before committing your code. By doing so you can ensure no errors go into the repository and enforce code style. But running a lint process on a whole project is slow and linting results can be irrelevant. Ultimately you only want to lint files that will be committed.
I've setup lint-staged with husky in the past in one of my React App. I found it q

[2019-01-17 19:36] ghost commented on #257
@vpn1997 i have made changes to the mockup. New mockup is deployed to the same link. (https://origami-landing-page.herokuapp.com/ )

[2019-01-18 17:50] kurianbenoy opened #291 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):
`django==1.11.18`

## Do you like to work on this issue?
Yes

[2019-01-20 21:00] akshithashetty commented on #288
Hi, I would like to work on this one.

[2019-01-21 09:47] geekayush commented on #288
Hi @akshithashetty
Can you find some other issue? I am waiting for a green flag to proceed with the issue. :)

[2019-01-21 10:09] akshithashetty commented on #288
Yes sure.

[2019-01-21 13:51] vpn1997 commented on #288
@geekayush  hey you should go ahead and raise a PR for this.

[2019-01-21 19:02] akshithagrowfitter commented on #257
Hi, as discussed with @vpn1997 this is my take on the design. I am looking for review on the same to improve it further.
https://www.figma.com/proto/Pr2uoa60djaeq6TmWnsj05Kk/Untitled?node-id=0%3A1&viewport=485%2C333%2C0.572585&scaling=scale-down-width

[2019-02-03 14:27] akshithashetty commented on #257
Hi,
After the reviews I received from @shivaniprakash95, I have reiterated over the design. I have specifically worked on the following points-
  1)Font size
  2)I have tried to incorporate a different color for the CTA. ( I have tried to use maximum of blue throughout the page as it is often associated with professionalism and technology and for the CTA I have used yellow to add a vibrancy and de

[2019-02-18 16:00] akshithashetty commented on #257
Hi, @vpn1997 @shivaniprakash95 would  be great to hear back from you as it would be helpful in taking this forward.

[2019-02-19 15:33] Gauravsahadev commented on #245
Hey, @vpn1997 Is this issue still open? Can I work on this?

[2019-02-21 18:17] shivaniprakash19 commented on #257
Hey Akshitha,

Sorry for the late reply. I will review it by this weekend and let you know
my feedback on the same. Sounds Good?

On Mon, Feb 18, 2019 at 9:30 PM akshithashetty <notifications@github.com>
wrote:

[2019-02-21 18:22] akshithashetty commented on #257
Yes sure, thanks.

[2019-02-22 16:03] shivaniprakash19 commented on #257
Hey Akshitha,

So there are a few tweaks that need to be done :

   - Make 'login' little prominent, as it has a different action as
   compared to the header elements.
   - Try to make the Description of Origami in '3 lines', i.e. try to give
   a little padding between the text and the illustration.
   - Make the logo of the companies little small, they are comparatively
   larger now.
   - Give

[2019-02-23 05:48] ghost commented on #257
HI @vpn1997 @shivaniprakash95 , i am also working on a mockup for this issue. I will complete it in two days. I am sharing the screenshots for now, will share the link to herokuapp once done.

![mock1](https://user-images.githubusercontent.com/34716955/53282353-7db63200-3704-11e9-9752-1b2fa37b2d0f.png)

![mock2](https://user-images.githubusercontent.com/34716955/53282360-8870c700-3704-11e9-9968-cd

[2019-02-24 10:46] geekayush commented on #290
@vpn1997 Should I take this up?

[2019-02-25 07:46] ghost commented on #257
Hey @vpn1997 @shivaniprakash95 , here is the link to deployed mockup -> https://origami-landing-page.herokuapp.com/. Please, let me know what you guys think about it.

[2019-05-15 18:14] ethicos commented on #249
is this issue still open?

[2019-10-31 14:19] nikochiko opened #298 "Need support/installation instructions for Ubuntu 18.04"
As per https://ubuntustudio.org/2019/04/ubuntu-studio-16-04-lts-reaches-end-of-life-eol/ , Ubuntu 16.04 reached its end of life on 25 April 2019.
We therefore need updated installation instructions (and internal support) for Ubuntu 18.04.
I don't know how big this is going to be. We will probably also need other updates as there are known bugs on upgrading. Also, need for versions of dependencies

[2019-11-22 13:52] ssaahhaajj opened #300 "Description: [Origami] The gists present under /docs/library.rst is not present (404 error)."
Thanks for taking the time to report a bug in the Origami project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Origami/issues).
For more information, see the [CONTRIBUTING Guide](https://github.com/Cloud-CV/Origami/blob/master/.github/CONTRIBUTING.md)

## Description

[

[2019-11-22 21:46] vasudev-sharma opened #301 "[Docs] Refinement of Readme.md"
I saw a lot of PR's and issues on readme doc. Some of them have been partially completed and some have been not been reviewed or merged. Moreover, some of the PR's related to readme have became outdated and stale because of contributions made by the past developers had made them irrelevant due to recent changes.

Hence,I think we should formulate a clear and systematic approach to properly documen

[2020-01-09 04:52] hacky1997 commented on #301
me

[2020-01-24 16:16] bosecodes commented on #301
I'd like to work on this! @vs74

[2020-03-04 06:41] dgdheeraj commented on #196
Is this resolved? Or is anyone still working on this?
I would like to take it up if not

[2020-09-23 13:24] Hrishi1999 commented on #196
Hello! I have had done Image Captioning projects in past, and I am currently trying to familiarize myself with Origami (also, how do I get started?). I am happy to complete this once I am done.

[2021-05-30 04:27] Aaishpra commented on #249
Hi @vpn1997 can I work here?

[2022-09-07 11:13] aarushisoni commented on #288
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 11:34] aarushisoni commented on #272
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-08 12:09] PrathyushaModala commented on #215
Hi @fristonio  ,
Is the issue still open, I would Like to work on it??